.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: 10000000;
  background-color: #fff;
}

a { cursor: pointer; }
td.disabled a { color: #eee !important; cursor: no-drop; }