<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>Comparing Properties</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/an/main']">Home</a></li>
              <li>Comparing Properties</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>



  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- Compare List -->
        <div class="compare-list-container">
          <ul id="compare-list">

            <li class="compare-list-properties">
              <div class="blank-div"></div>
              <div>
                <a [routerLink]="property1.link">
                  <div class="clp-img">
                    <img src="{{ property1.image }}">
                  </div>

                  <div class="clp-title">
                    <h4>{{ property1.name }}</h4>
                    <span>{{ property1.price }}</span>
                  </div>
                </a>
              </div>

              <div>
                <a [routerLink]="property2.link">
                  <div class="clp-img">
                    <img src="{{ property2.image }}">
                  </div>

                  <div class="clp-title">
                    <h4>{{ property2.name }}</h4>
                    <span>{{ property2.price }}</span>
                  </div>
                </a>
              </div>

              <div>
                <a [routerLink]="property3.link">
                  <div class="clp-img">
                    <img src="{{ property3.image }}">
                  </div>

                  <div class="clp-title">
                    <h4>{{ property3.name }}</h4>
                    <span>{{ property3.price }}</span>
                  </div>
                </a>
              </div>
            </li>

            <li>
              <div>Area</div>
              <div>{{ property1.area }} sq ft</div>
              <div>{{ property2.area }} sq ft</div>
              <div>{{ property3.area }} sq ft</div>
            </li>

            <li>
              <div>Bedrooms</div>
              <div>{{ property1.bedrooms }}</div>
              <div>{{ property2.bedrooms }}</div>
              <div>{{ property3.bedrooms }}</div>
            </li>

            <li>
              <div>Bathrooms</div>
              <div>{{ property1.bathrooms }}</div>
              <div>{{ property2.bathrooms }}</div>
              <div>{{ property3.bathrooms }}</div>
            </li>

            <li>
              <div>Building Age</div>
              <div>{{ property1.age }}</div>
              <div>{{ property2.age }}</div>
              <div>{{ property3.age }}</div>
            </li>

            <li>
              <div>Building Quality</div>
              <div>{{ property1.quality }}</div>
              <div>{{ property2.quality }}</div>
              <div>{{ property3.quality }}</div>
            </li>

          </ul>
        </div>
        <!-- Compare List / End -->

      </div>
    </div>
  </div>

  <div class="margin-top-55"></div>
</div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>قارن العقارات</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/ar/main']">الرئيسية</a></li>
              <li>قارن العقارات</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>



  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- Compare List -->
        <div class="compare-list-container">
          <ul id="compare-list">

            <li class="compare-list-properties">
              <div class="blank-div"></div>
              <div>
                <a [routerLink]="property1.link">
                  <div class="clp-img">
                    <img src="{{ property1.image }}">
                  </div>

                  <div class="clp-title">
                    <h4>{{ property1.name }}</h4>
                    <span>{{ property1.price }}</span>
                  </div>
                </a>
              </div>

              <div>
                <a [routerLink]="property2.link">
                  <div class="clp-img">
                    <img src="{{ property2.image }}">
                  </div>

                  <div class="clp-title">
                    <h4>{{ property2.name }}</h4>
                    <span>{{ property2.price }}</span>
                  </div>
                </a>
              </div>

              <div>
                <a [routerLink]="property3.link">
                  <div class="clp-img">
                    <img src="{{ property3.image }}">
                  </div>

                  <div class="clp-title">
                    <h4>{{ property3.name }}</h4>
                    <span>{{ property3.price }}</span>
                  </div>
                </a>
              </div>
            </li>

            <li>
              <div>المساحة</div>
              <div>{{ property1.area }} sq ft</div>
              <div>{{ property2.area }} sq ft</div>
              <div>{{ property3.area }} sq ft</div>
            </li>

            <li>
              <div>السرائر</div>
              <div>{{ property1.bedrooms }}</div>
              <div>{{ property2.bedrooms }}</div>
              <div>{{ property3.bedrooms }}</div>
            </li>

            <li>
              <div>الحمامات</div>
              <div>{{ property1.bathrooms }}</div>
              <div>{{ property2.bathrooms }}</div>
              <div>{{ property3.bathrooms }}</div>
            </li>

            <li>
              <div>عمر المبني</div>
              <div>{{ property1.age }}</div>
              <div>{{ property2.age }}</div>
              <div>{{ property3.age }}</div>
            </li>

            <li>
              <div>حالة المبني</div>
              <div>{{ property1.quality }}</div>
              <div>{{ property2.quality }}</div>
              <div>{{ property3.quality }}</div>
            </li>

          </ul>
        </div>
        <!-- Compare List / End -->

      </div>
    </div>
  </div>

  <div class="margin-top-55"></div>
</div>
<!-- Arabic Section / End -->
