<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Footer
  ================================================== -->
  <div id="footer" class="sticky-footer">
    <!-- Main -->
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <img class="footer-logo" src="assets/images/logo.png" alt="">
          <br><br>
          <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
        </div>

        <div class="col-md-4 col-sm-6 ">
          <h4>Helpful Links</h4>
          <ul class="footer-links">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Add Property</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

          <ul class="footer-links">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Our Agents</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-3  col-sm-12">
          <h4>Contact Us</h4>
          <div class="text-widget">
            <span>12345 Little Lonsdale St, Melbourne</span> <br>
            Phone: <span>(123) 123-456 </span><br>
            E-Mail:<span> <a href="#">office@example.com</a> </span><br>
          </div>

          <ul class="social-icons margin-top-20">
            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
            <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
          </ul>

        </div>

      </div>

      <!-- Copyright -->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
        </div>
      </div>

    </div>

  </div>
  <!-- Footer / End -->
</div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Footer
  ================================================== -->
  <div class="margin-top-55"></div>

  <div id="footer" class="sticky-footer">
    <!-- Main -->
    <div class="container">
      <div class="row">

        <div class="col-md-5 col-sm-6">
          <img class="footer-logo" src="assets/images/logo.png" alt="">
          <br><br>
          <p>لضروري بالإنزال هو شيء, بل بعض حادثة الجنوبي, وتم الشهير السيطرة أم. مع أخذ العظمى وتنصيب, مايو مليون ابتدعها مع إيو, عرض عجّل قامت استراليا، ان. أملاً ألمانيا لم ضرب, قد بحث وقامت فاتّبع البشريةً. شيء أم دارت اتفاق, عدد غرّة، السفن أوراقهم هو. أي وسوء عسكرياً كلّ, ٣٠ حدى للصين طوكيو بالسيطرة.</p>
        </div>

        <div class="col-md-4 col-sm-6 ">
          <h4>روابط مفيدة</h4>
          <ul class="footer-links">
            <li><a href="#">تسجيل الدخول</a></li>
            <li><a href="#">التسجيل</a></li>
            <li><a href="#">حسابي</a></li>
            <li><a href="#">اضف عقار</a></li>
            <li><a href="#">الاسعار</a></li>
            <li><a href="#">الخصوصوية</a></li>
          </ul>

          <ul class="footer-links">
            <li><a href="#">اسئلة و اجوبة</a></li>
            <li><a href="#">المنتدي</a></li>
            <li><a href="#">سماسرتنا</a></li>
            <li><a href="#">كيف تعمل</a></li>
            <li><a href="#">الاتصال</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-3  col-sm-12">
          <h4>Contact Us</h4>
          <div class="text-widget">
            <span style="direction:ltr">12345 Little Lonsdale St, Melbourne</span> <br>
            الهاتف: <span>(123) 123-456 </span><br>
            البريد الالكتروني:<span> <a href="#">office@example.com</a> </span><br>
          </div>

          <ul class="social-icons margin-top-20">
            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
            <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
          </ul>

        </div>

      </div>

      <!-- Copyright -->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
        </div>
      </div>

    </div>

  </div>
  <!-- Footer / End -->
</div>
<!-- Arabic Section / End -->
