<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Footer
  ================================================== -->
  <div id="footer" class="sticky-footer">
    <!-- Main -->
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <img class="footer-logo" src="assets/imgs/screenshot-1.png" alt="">
          <br><br>
          <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
        </div>

        <div class="col-md-4 col-sm-6 ">
          <h4>Helpful Links</h4>
          <ul class="footer-links">
            <li><a [routerLink]="['/en/login']">Login</a></li>
            <li><a [routerLink]="['/en/login']">Sign Up</a></li>
            <li><a [routerLink]="['/en/profile']">My Account</a></li>
            <li><a [routerLink]="['/en/submit-property']">Add Property</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

          <ul class="footer-links">
            <li><a href="#">FAQ</a></li>
            <li><a [routerLink]="['/en/agents']">Our Agents</a></li>
            <li><a [routerLink]="['/en/about']">About Us</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-3  col-sm-12">
          <h4>Call Us</h4>
          <div class="text-widget">
            Phone: <span>(123) 123-456 </span><br>
            E-Mail:<span> <a [routerLink]="['/en/contact']">info@aliraqhomes.com</a> </span><br>
          </div>

          <ul class="social-icons margin-top-20">
            <li><a class="facebook" href="https://www.facebook.com/%D8%B9%D9%82%D8%A7%D8%B1%D8%A7%D8%AA-%D8%A7%D9%84%D8%B9%D8%B1%D8%A7%D9%82-203391123060911/" target="_blank"><i class="icon-facebook"></i></a></li>
          </ul>

        </div>

      </div>

      <!-- Copyright -->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">
            <span>2018 © aliraqhomes.com.</span> <br>
            <span>ادارة الموقع غير مسئولة عن التعاملات العقارية والقانونية بين البائع والمشتري</span>
        </div>
        </div>
      </div>

    </div>

  </div>
  <!-- Footer / End -->
</div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Footer
  ================================================== -->
  <div class="margin-top-55"></div>

  <div id="footer" class="sticky-footer">
    <!-- Main -->
    <div class="container">
      <div class="row">

        <div class="col-md-5 col-sm-6">
          <img class="footer-logo" src="assets/imgs/screenshot-1.png" alt="">
          <br><br>
          <p>لضروري بالإنزال هو شيء, بل بعض حادثة الجنوبي, وتم الشهير السيطرة أم. مع أخذ العظمى وتنصيب, مايو مليون ابتدعها مع إيو, عرض عجّل قامت استراليا، ان. أملاً ألمانيا لم ضرب, قد بحث وقامت فاتّبع البشريةً. شيء أم دارت اتفاق, عدد غرّة، السفن أوراقهم هو. أي وسوء عسكرياً كلّ, ٣٠ حدى للصين طوكيو بالسيطرة.</p>
        </div>

        <div class="col-md-4 col-sm-6 ">
          <h4>روابط مفيدة</h4>
          <ul class="footer-links">
            <li><a [routerLink]="['/ar/login']">تسجيل الدخول</a></li>
            <li><a [routerLink]="['/ar/login']">التسجيل</a></li>
            <li><a [routerLink]="['/ar/profile']">حسابي</a></li>
            <li><a [routerLink]="['/ar/submit-property']">اضف عقار</a></li>
            <li><a href="#">الخصوصوية</a></li>
          </ul>

          <ul class="footer-links">
            <li><a href="#">اسئلة و اجوبة</a></li>
            <li><a [routerLink]="['/ar/agents']">المكاتب العقارية</a></li>
            <li><a [routerLink]="['/ar/about']">الاتصال</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-3  col-sm-12">
          <h4>اتصل بنا</h4>
          <div class="text-widget">
            الهاتف: <span>(123) 123-456 </span><br>
            البريد الالكتروني:<span> <a [routerLink]="['/ar/contact']">info@aliraqhomes.com</a> </span><br>
          </div>

          <ul class="social-icons margin-top-20">
            <li><a class="facebook" href="https://www.facebook.com/%D8%B9%D9%82%D8%A7%D8%B1%D8%A7%D8%AA-%D8%A7%D9%84%D8%B9%D8%B1%D8%A7%D9%82-203391123060911/" target="_blank"><i class="icon-facebook"></i></a></li>
          </ul>

        </div>

      </div>

      <!-- Copyright -->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">
            <span>2018 © aliraqhomes.com.</span> <br>
            <span>ادارة الموقع غير مسئولة عن التعاملات العقارية والقانونية بين البائع والمشتري</span>
          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- Footer / End -->
</div>
<!-- Arabic Section / End -->
