<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>Change Password</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/en/main']">Home</a></li>
              <li>Change Password</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">


      <!-- Widget -->
      <div class="col-md-4">
        <div class="sidebar left">

          <div class="my-account-nav-container">

            <ul class="my-account-nav">
              <li class="sub-nav-title">Manage Account</li>
              <li><a [routerLink]="['/en/profile']" routerLinkActive="current"><i class="sl sl-icon-user"></i> My Profile</a></li>
              <li><a [routerLink]="['/en/bookmarks']" routerLinkActive="current"><i class="sl sl-icon-star"></i> Bookmarked Listings</a></li>
            </ul>

            <ul class="my-account-nav">
              <li class="sub-nav-title">Manage Listings</li>
              <li><a [routerLink]="['/en/properties']" routerLinkActive="current"><i class="sl sl-icon-docs"></i> My Properties</a></li>
              <li><a [routerLink]="['/en/submit-property']" routerLinkActive="current"><i class="sl sl-icon-action-redo"></i> Submit New Property</a></li>
            </ul>

            <ul class="my-account-nav">
              <li><a [routerLink]="['/en/change-password']" routerLinkActive="current"><i class="sl sl-icon-lock"></i> Change Password</a></li>
            </ul>

          </div>

        </div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6  my-profile">
            <h4 class="margin-top-0 margin-bottom-30">Change Password</h4>

            <form [formGroup]="passwordForm">
              <label>New Password</label>
              <input type="password" formControlName="password">

              <label>Confirm New Password</label>
              <input type="password" formControlName="repassword">
            </form>

            <a class="margin-top-20 button" [ngClass]="{disabled: !passwordForm.valid || isConnecting}" (click)="changePassword()">Save Changes</a>
          </div>

          <div class="col-md-6">
            <div class="notification notice">
              <p>Your password should be at least 12 random characters long to be safe</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="margin-top-55"></div>
</div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>تغير كلمة السر</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/ar/main']">الرئيسية</a></li>
              <li>تغير كلمة السر</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">


      <!-- Widget -->
      <div class="col-md-4">
        <div class="sidebar left">

          <div class="my-account-nav-container">

            <ul class="my-account-nav">
              <li class="sub-nav-title">ادر الحساب</li>
              <li><a [routerLink]="['/ar/profile']" routerLinkActive="current"><i class="sl sl-icon-user"></i> صفحتي الشخصية</a></li>
              <li><a [routerLink]="['/ar/bookmarks']" routerLinkActive="current"><i class="sl sl-icon-star"></i> العقارات المرجعية</a></li>
            </ul>

            <ul class="my-account-nav">
              <li class="sub-nav-title">ادر العقارات</li>
              <li><a [routerLink]="['/ar/properties']" routerLinkActive="current"><i class="sl sl-icon-docs"></i> عقاراتي</a></li>
              <li><a [routerLink]="['/ar/submit-property']" routerLinkActive="current"><i class="sl sl-icon-action-redo"></i> اضف عقار جديد</a></li>
            </ul>

            <ul class="my-account-nav">
              <li><a [routerLink]="['/ar/change-password']" routerLinkActive="current"><i class="sl sl-icon-lock"></i> تغيير كلمة السر</a></li>
            </ul>

          </div>

        </div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6  my-profile">
            <h4 class="margin-top-0 margin-bottom-30">تغير كلمة السر</h4>

            <form [formGroup]="passwordForm">
              <label>كلمة السر الجديدة</label>
              <input type="password" formControlName="password">

              <label>تاكيد كلمة السر الجديدة</label>
              <input type="password" formControlName="repassword">
            </form>

            <a class="margin-top-20 button" [ngClass]="{disabled: !passwordForm.valid || isConnecting}" (click)="changePassword()">احفظ التغيرات</a>
          </div>

          <div class="col-md-6">
            <div class="notification notice">
              <p>كلمة السر يجب ان تتكون من 12 حرف عشوائي علي الاقل حتي تبقي امن</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="margin-top-55"></div>
</div>
<!-- Arabic Section / End -->
