a.disabled {
  background-color: gray;
  cursor: no-drop;
}

input:focus { border-color: #274abb; }
input.ng-valid { border-color: #5f9025; }
input.ng-invalid.ng-touched, input.ng-invalid.ng-dirty { border-color: #de5959; }