<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>Pricing Tables</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/en/main']">Home</a></li>
              <li>Pricing Tables</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Pricing Tables
  ================================================== -->

  <!-- Container / Start -->
  <div class="container">

    <!-- Row / Start -->
    <div class="row">

      <div class="col-md-12">
        <div class="pricing-container margin-top-30">

        <!-- Plan #1 -->

          <div class="plan">

            <div class="plan-price">
              <h3>Basic</h3>
              <span class="value">Free</span>
              <span class="period">Free of charge one standard listing active for 30 days</span>
            </div>

            <div class="plan-features">
              <ul>
                <li>One Listing</li>
                <li>30 Days Availability</li>
                <li>Standard Listing</li>
                <li>Limited Support</li>
              </ul>
              <a class="button border" href="#">Get Started</a>
            </div>

          </div>

          <!-- Plan #3 -->
          <div class="plan featured">

            <div class="listing-badges">
              <span class="featured">Featured</span>
            </div>

            <div class="plan-price">
              <h3>Extended</h3>
              <span class="value">$9.99</span>
              <span class="period">One time fee for one listing, highlighted in the search results</span>
            </div>
            <div class="plan-features">
              <ul>
                <li>One Time Fee</li>
                <li>One Listing</li>
                <li>90 Days Availability</li>
                <li>Featured In Search Results</li>
                <li>24/7 Support</li>
              </ul>
              <a class="button" href="#">Get Started</a>
            </div>
          </div>

          <!-- Plan #3 -->
          <div class="plan">

            <div class="plan-price">
              <h3>Professional</h3>
              <span class="value">$19.99</span>
              <span class="period">Monthly subscription for unlimited listings and availability</span>
            </div>

            <div class="plan-features">
              <ul>
                <li>Unlimited Listings</li>
                <li>Unlimited Availability</li>
                <li>Featured In Search Results</li>
                <li>24/7 Support</li>
              </ul>
              <a class="button border" href="#">Get Started</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Row / End -->

  </div>
  <!-- Container / End -->

  <div class="margin-top-55"></div>
</div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>جداول الاسعار</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/ar/main']">الرئيسية</a></li>
              <li>جداول الاسعار</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Pricing Tables
  ================================================== -->

  <!-- Container / Start -->
  <div class="container">

    <!-- Row / Start -->
    <div class="row">

      <div class="col-md-12">
        <div class="pricing-container margin-top-30">

        <!-- Plan #1 -->

          <div class="plan">

            <div class="plan-price">
              <h3>Basic</h3>
              <span class="value">مجانا</span>
              <span class="period">خالي من المعاملات علي عقار واحد لمدة 30 يوم</span>
            </div>

            <div class="plan-features">
              <ul>
                <li>عقار واحد</li>
                <li>اتاحة 30 يوم</li>
                <li>قوائم عادية</li>
                <li>دعم محدود</li>
              </ul>
              <a class="button border" href="#">ابدا</a>
            </div>

          </div>

          <!-- Plan #3 -->
          <div class="plan featured">

            <div class="listing-badges">
              <span class="featured">مميز</span>
            </div>

            <div class="plan-price">
              <h3>Extended</h3>
              <span class="value">$9.99</span>
              <span class="period">معاملات مرة واحدة, يتم تعليم العقار في خانة البحث</span>
            </div>
            <div class="plan-features">
              <ul>
                <li>رسوم مرة واحدة</li>
                <li>عقار واحد</li>
                <li>سماحية حتي 90 يوم</li>
                <li>مميز في خانات البحث</li>
                <li>24/7 دعم</li>
              </ul>
              <a class="button" href="#">ابدا</a>
            </div>
          </div>

          <!-- Plan #3 -->
          <div class="plan">

            <div class="plan-price">
              <h3>محتر</h3>
              <span class="value">$19.99</span>
              <span class="period">اشتراك شهري لعقارات غير محدودة </span>
            </div>

            <div class="plan-features">
              <ul>
                <li>عقارات غير محدودة</li>
                <li>إتاحة غير محدودة</li>
                <li>مميز في خانة البحث</li>
                <li>24/7 دعم</li>
              </ul>
              <a class="button border" href="#">ابدا</a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Row / End -->

  </div>
  <!-- Container / End -->

  <div class="margin-top-55"></div>
</div>
<!-- Arabic Section / End -->
