.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: 10000000;
  background-color: #fff;
}

form button:disabled {
  background-color: gray;
  cursor: no-drop;
}

input[type="checkbox"] {
  height: auto;
  width: auto;
  float: right;
  margin-left: 10px;
  cursor: pointer;
}

input[type="checkbox"] + label {
  float: right;
  cursor: pointer;
}