<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar" class="property-titlebar margin-bottom-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <a [routerLink]="['/en/listings/default']" class="back-to-listings"></a>
          <div class="property-title">
            <h2>{{ listingResults.name }} <span class="property-badge">{{ listingResults.state }}</span></h2>
            <span>
              <a href="#location" class="listing-address">
                <i class="fa fa-map-marker"></i>
                {{ listingResults.adress }}
              </a>
            </span>
          </div>

          <div class="property-pricing">
            <div class="property-price">{{ listingResults.price }}</div>
            <div class="sub-price">{{ listingResults.priceDetail }}</div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row margin-bottom-50">
      <div class="col-md-12">

        <!-- Slider -->
        <div class="property-slider default">
          <a href="{{ img }}" [attr.data-background-image]="img" class="item mfp-gallery" *ngFor="let img of listingResults.images"></a>
        </div>

        <!-- Slider Thumbs -->
        <div class="property-slider-nav">
          <div class="item" *ngFor="let img of listingResults.images"><img src="{{ img }}"></div>
        </div>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">

      <!-- Property Description -->
      <div class="col-lg-8 col-md-7">
        <div class="property-description">

          <!-- Main Features -->
          <ul class="property-main-features">
            <li>Area <span>{{ listingResults.area }}</span></li>
            <li>Bedrooms <span>{{ listingResults.beds }}</span></li>
            <li>Bathrooms <span>{{ listingResults.bathrooms }}</span></li>
          </ul>


          <!-- Description -->
          <h3 class="desc-headline">Description</h3>
          <div class="show-more">
            <span [innerHTML]="listingResults.description"></span>

            <a href="#" class="show-more-button">Show More <i class="fa fa-angle-down"></i></a>
          </div>

          <!-- Details -->
          <h3 class="desc-headline">Details</h3>
          <ul class="property-features margin-top-0">
            <li *ngFor="let detail of listingResults.details" [innerHTML]="detail"></li>
          </ul>


          <!-- Location -->
          <h3 class="desc-headline no-border" id="location">Location</h3>
          <div id="propertyMap-container">
            <div id="propertyMap" [attr.data-latitude]="listingResults.latitude" [attr.data-longitude]="listingResults.longitude"></div>
            <a href="#" id="streetView">Street View</a>
          </div>

        </div>
      </div>
      <!-- Property Description / End -->


      <!-- Sidebar -->
      <div class="col-lg-4 col-md-5">
        <div class="sidebar sticky right">

          <!-- Widget -->
          <div class="widget margin-bottom-30">
            <button class="widget-button with-tip" data-tip-content="Add to Bookmarks"><i class="fa fa-star-o"></i></button>
            <button class="widget-button with-tip compare-widget-button" data-tip-content="Add to Compare" (click)="addProperty()"><i class="icon-compare"></i></button>
            <div class="clearfix"></div>
          </div>
          <!-- Widget / End -->


          <!-- Widget -->
          <div class="widget">
            <h3 class="margin-bottom-30 margin-top-30">Mortgage Calculator</h3>

            <!-- Mortgage Calculator -->
            <form action="javascript:void(0);" autocomplete="off" class="mortgageCalc" [attr.data-calc-currency]="listingResults.priceDetail">
              <div class="calc-input">
                <div class="pick-price tip" data-tip-content="Set This Property Price"></div>
                  <input type="text" id="amount" name="amount" placeholder="Sale Price" required>
                  <label for="amount" class="fa fa-usd"></label>
              </div>

              <div class="calc-input">
                  <input type="text" id="downpayment" placeholder="Down Payment">
                  <label for="downpayment" class="fa fa-usd"></label>
              </div>

              <div class="calc-input">
                <input type="text" id="years" placeholder="Loan Term (Years)" required>
                <label for="years" class="fa fa-calendar-o"></label>
              </div>

              <div class="calc-input">
                <input type="text" id="interest" placeholder="Interest Rate" required>
                <label for="interest" class="fa fa-percent"></label>
              </div>

              <button class="button calc-button" formvalidate (click)="mortgageCalc()">Calculate</button>
              <div class="calc-output-container"><div class="notification success">Monthly Payment: <strong class="calc-output"></strong></div></div>
            </form>
            <!-- Mortgage Calculator / End -->

          </div>
          <!-- Widget / End -->

        </div>
      </div>
      <!-- Sidebar / End -->

    </div>
  </div>
  <div class="padding-top-50"></div>
</div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar" class="property-titlebar margin-bottom-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <a [routerLink]="['/ar/listings/default']" class="back-to-listings"></a>
          <div class="property-title">
            <h2>{{ listingResults.name }} <span class="property-badge">{{ listingResults.state | translate }}</span></h2>
            <span>
              <a href="#location" class="listing-address">
                <span style="direction:ltr"> {{ listingResults.adress }}</span>
                <i class="fa fa-map-marker"></i>
              </a>
            </span>
          </div>

          <div class="property-pricing">
            <div class="property-price">{{ listingResults.price }}</div>
            <div class="sub-price">{{ listingResults.priceDetail }}</div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row margin-bottom-50">
      <div class="col-md-12" style="direction:ltr">

        <!-- Slider -->
        <div class="property-slider default">
          <a href="{{ img }}" [attr.data-background-image]="img" class="item mfp-gallery" *ngFor="let img of listingResults.images"></a>
        </div>

        <!-- Slider Thumbs -->
        <div class="property-slider-nav">
          <div class="item" *ngFor="let img of listingResults.images"><img src="{{ img }}"></div>
        </div>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="row" style="overflow-x:hidden">

      <!-- Property Description -->
      <div class="col-lg-8 col-md-7">
        <div class="property-description">

          <!-- Main Features -->
          <ul class="property-main-features">
            <li>المساحة <span>{{ listingResults.area }}</span></li>
            <li>السرائر <span>{{ listingResults.beds }}</span></li>
            <li>الحمامات <span>{{ listingResults.bathrooms }}</span></li>
          </ul>


          <!-- Description -->
          <h3 class="desc-headline">الوصف</h3>
          <div class="show-more">
            <span [innerHTML]="listingResults.description"></span>

            <a href="#" class="show-more-button">اظهر المزيد <i class="fa fa-angle-down"></i></a>
          </div>

          <!-- Details -->
          <h3 class="desc-headline">التفاصيل</h3>
          <ul class="property-features margin-top-0">
            <li *ngFor="let detail of listingResults.details" [innerHTML]="detail"></li>
          </ul>


          <!-- Location -->
          <h3 class="desc-headline no-border" id="location">المكان</h3>
          <div id="propertyMap-container">
            <div id="propertyMap" [attr.data-latitude]="listingResults.latitude" [attr.data-longitude]="listingResults.longitude"></div>
            <a href="#" id="streetView">Street View</a>
          </div>

        </div>
      </div>
      <!-- Property Description / End -->

      <!-- Sidebar -->
      <div class="col-lg-4 col-md-5">
        <div class="sidebar sticky left">

          <!-- Widget -->
          <div class="widget margin-bottom-30">
            <button class="widget-button with-tip" data-tip-content="Add to Bookmarks"><i class="fa fa-star-o"></i></button>
            <button class="widget-button with-tip compare-widget-button" data-tip-content="Add to Compare"><i class="icon-compare"></i></button>
            <div class="clearfix"></div>
          </div>
          <!-- Widget / End -->


          <!-- Widget -->
          <div class="widget">
            <h3 class="margin-bottom-30 margin-top-30">حساب الرهن العقاري</h3>

            <!-- Mortgage Calculator -->
            <form action="javascript:void(0);" autocomplete="off" class="mortgageCalc" [attr.data-calc-currency]="listingResults.priceDetail">
              <div class="calc-input">
                <div class="pick-price tip" data-tip-content="Set This Property Price"></div>
                  <input type="text" id="amount" name="amount" placeholder="سعر البيع" required>
                  <label for="amount" class="fa fa-usd"></label>
              </div>

              <div class="calc-input">
                  <input type="text" id="downpayment" placeholder="الدفع المبدائي">
                  <label for="downpayment" class="fa fa-usd"></label>
              </div>

              <div class="calc-input">
                <input type="text" id="years" placeholder="فترة السداد (اعوام )" required>
                <label for="years" class="fa fa-calendar-o"></label>
              </div>

              <div class="calc-input">
                <input type="text" id="interest" placeholder="الفائدة" required>
                <label for="interest" class="fa fa-percent"></label>
              </div>

              <button class="button calc-button" formvalidate (click)="mortgageCalc()">احسب</button>
              <div class="calc-output-container"><div class="notification success">الدفع الشهري: <strong class="calc-output"></strong></div></div>
            </form>
            <!-- Mortgage Calculator / End -->

          </div>
          <!-- Widget / End -->

        </div>
      </div>
      <!-- Sidebar / End -->

    </div>
  </div>
  <div class="padding-top-50"></div>
</div>
<!-- Arabic Section / End -->

<div class="overlay"></div>