<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>تسجيل الدخول \ تسجيل</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/ar/main']" >الرئيسية</a></li>
              <li>تسجيل الدخول \ تسجيل</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <!-- Contact
  ================================================== -->

  <!-- Container -->
  <div class="container">

    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

    <!--Tab -->
    <div class="my-account style-1 margin-top-5 margin-bottom-40">

      <ul class="tabs-nav">
        <li class=""><a href="#tab1">تسجيل الدخول</a></li>
        <li><a href="#tab2">تسجيل</a></li>
      </ul>

      <div class="tabs-container alt">

        <!-- Login -->
        <div class="tab-content" id="tab1" style="display: none;">
          <form method="post" class="login" [formGroup]="logForm" (ngSubmit)="login(logForm.value)">

            <div class="notification error closeable" *ngIf="generalERR">
              <p>لقد حدث خطا ما !!<br> الرجاء المحاولة مرة اخري</p>
            </div>
            <div class="notification error closeable" *ngIf="invalidERR">
              <p>البريد الالكتروني او كلمة المرور غير صحيح</p>
            </div>

            <p class="form-row form-row-wide">
              <label for="email">البريد الالكتروني
                <i class="im im-icon-Mail"></i>
                <input type="text" class="input-text" id="email" formControlName="email" />
              </label>
            </p>

            <p class="form-row form-row-wide">
              <label for="password">كلمة المرور
                <i class="im im-icon-Lock-2"></i>
                <input class="input-text" type="password" id="password" formControlName="password" />
              </label>
            </p>

            <p class="form-row login">
              <i class="im im-icon-Arrow-Around"></i>
              <input type="submit" class="button border margin-top-10" [ngClass]="{loading: isConnecting}" name="login" value="تسجيل الدخول" [disabled]="!logForm.valid || isConnecting" />

              <label for="rememberme" class="rememberme">
              <input name="rememberme" type="checkbox" id="rememberme" formControlName="rememberMe" /> احفظ البيانات</label>
            </p>

            <p class="lost_password">
              <a href="#" >نسيت كلمة السر؟</a>
            </p>

          </form>
        </div>

        <!-- Register -->
        <div class="tab-content" id="tab2" style="display: none;">
          <form method="post" class="register" [formGroup]="regForm" (ngSubmit)="register(regForm.value)">

          <div class="notification error closeable" *ngIf="generalERR">
            <p>لقد حدث خطا !!<br> ارجو المحاولة مرة اخري</p>
          </div>

          <p class="form-row form-row-wide">
            <label for="firstName">الاسم الاول
              <i class="im im-icon-Lock-2"></i>
              <input class="input-text" type="text" id="firstName" formControlName="firstName" />
            </label>
          </p>

          <p class="form-row form-row-wide">
            <label for="email2">البريد الالكتروني:
              <i class="im im-icon-Mail"></i>
              <input type="text" class="input-text" id="email2" formControlName="email" />

              <div class="notification error closeable" *ngIf="emailERR">
                <p>هذا المستخدم موجود بالفعل !!</p>
              </div>
            </label>
          </p>

          <p class="form-row form-row-wide">
            <label for="password1">كلمة السر:
              <i class="im im-icon-Lock-2"></i>
              <input class="input-text" type="password" id="password1" formControlName="password" />
            </label>
          </p>

          <p class="form-row form-row-wide">
            <label for="password2">اعد كلمة السر:
              <i class="im im-icon-Lock-2"></i>
              <input class="input-text" type="password" name="password2" id="password2" formControlName="repassword" />
            </label>
          </p>

          <p class="form-row">
            <i class="im im-icon-Arrow-Around"></i>
            <input type="submit" class="button border fw margin-top-10" [ngClass]="{loading: isConnecting}" name="register" value="تسجيل" [disabled]="!regForm.valid || isConnecting" />
          </p>

          </form>
        </div>

      </div>
    </div>

    </div>
    </div>

  </div>
  <!-- Container / End -->
</div>
<!-- Arabic Section / End -->



<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>Log In & Register</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/en/main']" >Home</a></li>
              <li>Log In & Register</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>

  <!-- Contact
  ================================================== -->

  <!-- Container -->
  <div class="container">

    <div class="row">
    <div class="col-md-4 col-md-offset-4">

    <!--Tab -->
    <div class="my-account style-1 margin-top-5 margin-bottom-40">

      <ul class="tabs-nav">
        <li class=""><a href="#tab1">Log In</a></li>
        <li><a href="#tab2">Register</a></li>
      </ul>

      <div class="tabs-container alt">

        <!-- Login -->
        <div class="tab-content" id="tab1" style="display: none;">
          <form method="post" class="login" [formGroup]="logForm" (ngSubmit)="login(logForm.value)">

            <div class="notification error closeable" *ngIf="generalERR">
              <p>An error has occured!!<br> Please try again later</p>
            </div>
            <div class="notification error closeable" *ngIf="invalidERR">
              <p>Invalid Email or Password</p>
            </div>

            <p class="form-row form-row-wide">
              <label for="email">Email Address:
                <i class="im im-icon-Mail"></i>
                <input type="text" class="input-text" id="email" formControlName="email" />
              </label>
            </p>

            <p class="form-row form-row-wide">
              <label for="password">Password:
                <i class="im im-icon-Lock-2"></i>
                <input class="input-text" type="password" id="password" formControlName="password" />
              </label>
            </p>

            <p class="form-row login">
              <i class="im im-icon-Arrow-Around"></i>
              <input type="submit" class="button border margin-top-10" [ngClass]="{loading: isConnecting}" name="login" value="Login" [disabled]="!logForm.valid || isConnecting" />

              <label for="rememberme" class="rememberme">
              <input name="rememberme" type="checkbox" id="rememberme" formControlName="rememberMe" /> Remember Me</label>
            </p>

            <p class="lost_password">
              <a href="#" >Lost Your Password?</a>
            </p>

          </form>
        </div>

        <!-- Register -->
        <div class="tab-content" id="tab2" style="display: none;">
          <form method="post" class="register" [formGroup]="regForm" (ngSubmit)="register(regForm.value)">

            <div class="notification error closeable" *ngIf="generalERR">
              <p>An error has occured!!<br> Please try again later</p>
            </div>

            <p class="form-row form-row-wide">
              <label for="firstName">First Name:
                <i class="im im-icon-Lock-2"></i>
                <input class="input-text" type="text" id="firstName" formControlName="firstName" />
              </label>
            </p>

            <p class="form-row form-row-wide">
              <label for="email2">Email Address:
                <i class="im im-icon-Mail"></i>
                <input type="text" class="input-text" id="email2" formControlName="email" />

                <div class="notification error closeable" *ngIf="emailERR">
                  <p>This user already exists !!</p>
                </div>
              </label>
            </p>

            <p class="form-row form-row-wide">
              <label for="password1">Password:
                <i class="im im-icon-Lock-2"></i>
                <input class="input-text" type="password" id="password1" formControlName="password" />
              </label>
            </p>

            <p class="form-row form-row-wide">
              <label for="password2">Repeat Password:
                <i class="im im-icon-Lock-2"></i>
                <input class="input-text" type="password" id="password2" formControlName="repassword" />
              </label>
            </p>

            <p class="form-row">
              <i class="im im-icon-Arrow-Around"></i>
              <input type="submit" class="button border fw margin-top-10" [ngClass]="{loading: isConnecting}" name="register" value="Register" [disabled]="!regForm.valid || isConnecting" />
            </p>

          </form>
        </div>

      </div>
    </div>



    </div>
    </div>

  </div>
  <!-- Container / End -->
</div>
<!-- English Section / End -->