<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>My Profile</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/en/main']">Home</a></li>
              <li>My Profile</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">


      <!-- Widget -->
      <div class="col-md-4">
        <div class="sidebar left">

          <div class="my-account-nav-container">

            <ul class="my-account-nav">
              <li class="sub-nav-title">Manage Account</li>
              <li><a [routerLink]="['/en/profile']" routerLinkActive="current"><i class="sl sl-icon-user"></i> My Profile</a></li>
              <li><a [routerLink]="['/en/bookmarks']" routerLinkActive="current"><i class="sl sl-icon-star"></i> Bookmarked Listings</a></li>
            </ul>

            <ul class="my-account-nav">
              <li class="sub-nav-title">Manage Listings</li>
              <li><a [routerLink]="['/en/properties']" routerLinkActive="current"><i class="sl sl-icon-docs"></i> My Properties</a></li>
              <li><a [routerLink]="['/en/submit-property']" routerLinkActive="current"><i class="sl sl-icon-action-redo"></i> Submit New Property</a></li>
            </ul>

            <ul class="my-account-nav">
              <li><a [routerLink]="['/en/change-password']" routerLinkActive="current"><i class="sl sl-icon-lock"></i> Change Password</a></li>
              <li><a href="#"><i class="sl sl-icon-power" routerLinkActive="current"></i> Log Out</a></li>
            </ul>

          </div>

        </div>
      </div>

      <div class="col-md-8">
        <div class="row">


          <div class="col-md-8 my-profile">
            <h4 class="margin-top-0 margin-bottom-30">My Account</h4>

            <label>Your Name</label>
            <input value="{{ profileInfo.name }}" type="text">

            <label>Your Title</label>
            <input value="{{ profileInfo.title }}" type="text">

            <label>Phone</label>
            <input value="{{ profileInfo.phone }}" type="text">

            <label>Email</label>
            <input value="{{ profileInfo.email }}" type="text">


            <h4 class="margin-top-50 margin-bottom-25">About Me</h4>
            <textarea name="about" id="about" cols="30" rows="10">{{ profileInfo.about}}</textarea>


            <h4 class="margin-top-50 margin-bottom-0">Social</h4>

            <label><i class="fa fa-twitter"></i> Twitter</label>
            <input value="{{ profileInfo.social.twitter }}" type="text">

            <label><i class="fa fa-facebook-square"></i> Facebook</label>
            <input value="{{ profileInfo.social.facebook }}" type="text">

            <label><i class="fa fa-google-plus"></i> Google+</label>
            <input value="{{ profileInfo.social.google }}" type="text">

            <label><i class="fa fa-linkedin"></i> Linkedin</label>
            <input value="{{ profileInfo.social.linkedin }}" type="text">


            <button class="button margin-top-20 margin-bottom-20">Save Changes</button>
          </div>

          <div class="col-md-4">
            <!-- Avatar -->
            <div class="edit-profile-photo">
              <img src="{{ profileInfo.image }}">
              <div class="change-photo-btn">
                <div class="photoUpload">
                    <span><i class="fa fa-upload"></i> Upload Photo</span>
                    <input type="file" class="upload" />
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>

    </div>
  </div>
</div>

<div class="margin-top-55"></div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>صفحتي الشخصية</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/ar/main']">الرائيسية</a></li>
              <li>صفحتي الشخصية</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">


      <!-- Widget -->
      <div class="col-md-4">
        <div class="sidebar left">

          <div class="my-account-nav-container">

            <ul class="my-account-nav">
              <li class="sub-nav-title">ادر الحساب</li>
              <li><a [routerLink]="['/ar/profile']" routerLinkActive="current"><i class="sl sl-icon-user"></i> صفحتي الشخصية</a></li>
              <li><a [routerLink]="['/ar/bookmarks']" routerLinkActive="current"><i class="sl sl-icon-star"></i> العقارات المرجعية</a></li>
            </ul>

            <ul class="my-account-nav">
              <li class="sub-nav-title">ادر العقارات</li>
              <li><a [routerLink]="['/ar/properties']" routerLinkActive="current"><i class="sl sl-icon-docs"></i> عقاراتي</a></li>
              <li><a [routerLink]="['/ar/submit-property']" routerLinkActive="current"><i class="sl sl-icon-action-redo"></i> اضف عقار جديد</a></li>
            </ul>

            <ul class="my-account-nav">
              <li><a [routerLink]="['/ar/change-password']" routerLinkActive="current"><i class="sl sl-icon-lock"></i> تغيير كلمة السر</a></li>
              <li><a href="#"><i class="sl sl-icon-power"></i> تسجيل الخروج</a></li>
            </ul>

          </div>

        </div>
      </div>

      <div class="col-md-8">
        <div class="row">


          <div class="col-md-8 my-profile">
            <h4 class="margin-top-0 margin-bottom-30">حسابي</h4>

            <label>الاسم</label>
            <input value="{{ profileInfo.name }}" type="text">

            <label>اللقب</label>
            <input value="{{ profileInfo.title }}" type="text">

            <label>رقم الهاتف</label>
            <input value="{{ profileInfo.phone }}" type="text" style="direction:ltr; text-align:right">

            <label>البريد الالكتروني</label>
            <input value="{{ profileInfo.email }}" type="text">


            <h4 class="margin-top-50 margin-bottom-25">نبزة عنك</h4>
            <textarea name="about" id="about" cols="30" rows="10">{{ profileInfo.about}}</textarea>


            <h4 class="margin-top-50 margin-bottom-0">التواصل الاجتماعي</h4>

            <div style="direction:ltr">
              <label><i class="fa fa-twitter"></i> Twitter</label>
              <input value="{{ profileInfo.social.twitter }}" type="text">

              <label><i class="fa fa-facebook-square"></i> Facebook</label>
              <input value="{{ profileInfo.social.facebook }}" type="text">

              <label><i class="fa fa-google-plus"></i> Google+</label>
              <input value="{{ profileInfo.social.google }}" type="text">

              <label><i class="fa fa-linkedin"></i> Linkedin</label>
              <input value="{{ profileInfo.social.linkedin }}" type="text">
            </div>


            <button class="button margin-top-20 margin-bottom-20">احفظ التغيرات</button>
          </div>

          <div class="col-md-4">
            <!-- Avatar -->
            <div class="edit-profile-photo">
              <img src="{{ profileInfo.image }}">
              <div class="change-photo-btn">
                <div class="photoUpload">
                    <span><i class="fa fa-upload"></i> حمل صورة</span>
                    <input type="file" class="upload" />
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>

    </div>
  </div>
</div>

<div class="margin-top-55"></div>
<!-- Arabic Section / End -->
