<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
	<!-- Banner
	================================================== -->
	<div class="parallax" data-background="assets/imgs/baghdad2.jpg" data-color="#36383e" data-color-opacity="0.5" data-img-width="2500" data-img-height="1600">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="search-container">

						<!-- Form -->
						<h2>اعثر علي منزل جديد</h2>

						<!-- Row With Forms -->
						<form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
							<div class="row with-forms">

								<!-- Status -->
								<div class="col-md-3">
									<select data-placeholder="Any Status" class="chosen-select-no-single api-updated-servicetype" formControlName="serviceType">
										<option *ngFor="let service of servicetypeList" [value]="service.key">{{ service.value }}</option>
									</select>
								</div>

								<!-- Property Type -->
								<div class="col-md-3">
									<select data-placeholder="Any Type" class="chosen-select-no-single api-updated-propertytype" formControlName="propertyType">
										<option *ngFor="let property of propertytypeList" [value]="property.key">{{ property.value }}</option>
									</select>
								</div>

								<!-- Main Search Input -->
								<div class="col-md-6">
									<div class="main-search-input">
										<select class="chosen-select api-updated-cities">
											<option *ngFor="let city of cityList">{{ city.name }}</option>
										</select>
										<button class="button" type="submit" [disabled]="!searchForm.valid"><i class="fa fa-search"></i></button>
									</div>
								</div>

							</div>
						</form>
						<!-- Row With Forms / End -->

						<!-- Announce -->
						<div class="announce">
							لدينا لكثر من 1000 عقار لك
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>


	<!-- Content
	================================================== -->
	<!-- Fullwidth Section -->
	<section class="fullwidth border-bottom margin-top-0 margin-bottom-0 padding-top-50 padding-bottom-50" data-background-color="#ffffff">

		<!-- Box Headline -->
		<h3 class="headline-box">انها رحلتك. نحن هنا لمساعدتك</h3>

		<!-- Content -->
		<div class="container margin-top-50">
			<div class="row">

				<div class="col-md-2"></div>

				<div class="col-md-3">
					<!-- Icon Box -->
					<div class="icon-box-1 alternative">

						<div class="icon-container">
							<i class="im im-icon-Home-2"></i>
						</div>

						<h3>بيوت</h3>
					</div>
				</div>

				<div class="col-md-2"></div>

				<div class="col-md-3">
					<!-- Icon Box -->
					<div class="icon-box-1 alternative">

						<div class="icon-container">
							<i class="im im-icon-Office"></i>
						</div>

						<h3>شقق</h3>
					</div>
				</div>

				<div class="col-md-2"></div>

			</div>
		</div>

	</section>
	<!-- Fullwidth Section / End -->



	<!-- Featured -->
	<div class="container margin-bottom-50">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline margin-bottom-25 margin-top-65">المميز</h3>
			</div>

			<!-- Carousel -->
			<div class="col-md-12">
				<div class="carousel" style="direction:ltr">

					<!-- Listing Item -->
					<div class="carousel-item" *ngFor="let property of featuredProperties">
						<div class="listing-item compact">

							<a [routerLink]="['/en/single-property', property.id]" class="listing-img-container">

								<div class="listing-badges">
									<span class="featured">مميز</span>
									<span>{{ property.state | translate }}</span>
								</div>

								<div class="listing-img-content">
									<span class="listing-compact-title">{{ property.name }} <i>{{ property.price }}</i></span>

									<ul class="listing-hidden-content">
										<li>المساحة <span>{{ property.area }}</span></li>
										<li>الغرف <span>{{ property.rooms }}</span></li>
										<li>السرائر <span>{{ property.beds }}</span></li>
										<li>الحمامات <span>{{ property.baths }}</span></li>
									</ul>
								</div>

								<img src="{{ property.image }}">
							</a>

						</div>
					</div>
					<!-- Listing Item / End -->

				</div>
			</div>
			<!-- Carousel / End -->

		</div>
	</div>
	<!-- Featured / End -->


	<!-- Flip banner -->
	<a [routerLink]="['/ar/listings/default']" class="flip-banner parallax" data-background="assets/images/flip-banner-bg.jpg" data-color="#274abb" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
		<div class="flip-banner-content">
			<h2 class="flip-visible">نحن نساعد الناس و المنازل علي إيجاد بعضهم</h2>
			<h2 class="flip-hidden">تفقد عقارات <i class="sl sl-icon-arrow-left"></i></h2>
		</div>
	</a>
	<!-- Flip banner / End -->
</div>
<!-- Arabic Section / End -->



<!-- English Section -->
<div *ngIf=" language != 'ar' ">
	<!-- Banner
	================================================== -->
	<div class="parallax" data-background="assets/imgs/baghdad2.jpg" data-color="#36383e" data-color-opacity="0.5" data-img-width="2500" data-img-height="1600">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="search-container">

						<!-- Form -->
						<h2>Find New Home</h2>

						<!-- Row With Forms -->
						<form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
							<div class="row with-forms">

								<!-- Status -->
								<div class="col-md-3">
									<select data-placeholder="Any Status" class="chosen-select-no-single api-updated-servicetype" formControlName="serviceType">
										<option *ngFor="let service of servicetypeList" [value]="service.key">{{ service.value }}</option>
									</select>
								</div>

								<!-- Property Type -->
								<div class="col-md-3">
									<select data-placeholder="Any Type" class="chosen-select-no-single api-updated-propertytype" formControlName="propertyType">
										<option *ngFor="let property of propertytypeList" [value]="property.key">{{ property.value }}</option>
									</select>
								</div>

								<!-- Main Search Input -->
								<div class="col-md-6">
									<div class="main-search-input">
										<select class="chosen-select api-updated-cities">
											<option *ngFor="let city of cityList">{{ city.name }}</option>
										</select>
										<button class="button" type="submit" [disabled]="!searchForm.valid"><i class="fa fa-search"></i></button>
									</div>
								</div>

							</div>
						</form>
						<!-- Row With Forms / End -->

						<!-- Announce -->
						<div class="announce">
							We’ve 1000 properties for you!
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>


	<!-- Content
	================================================== -->
	<!-- Fullwidth Section -->
	<section class="fullwidth border-bottom margin-top-0 margin-bottom-0 padding-top-50 padding-bottom-50" data-background-color="#ffffff">

		<!-- Box Headline -->
		<h3 class="headline-box">It's your journy. We are here to help</h3>

		<!-- Content -->
		<div class="container margin-top-50">
			<div class="row">

				<div class="col-md-2"></div>

				<div class="col-md-3">
					<!-- Icon Box -->
					<div class="icon-box-1 alternative">

						<div class="icon-container">
							<i class="im im-icon-Home-2"></i>
						</div>

						<h3>Houses</h3>
					</div>
				</div>

				<div class="col-md-2"></div>

				<div class="col-md-3">
					<!-- Icon Box -->
					<div class="icon-box-1 alternative">

						<div class="icon-container">
							<i class="im im-icon-Office"></i>
						</div>

						<h3>Appartments</h3>
					</div>
				</div>

				<div class="col-md-2"></div>

			</div>
		</div>

	</section>
	<!-- Fullwidth Section / End -->



	<!-- Featured -->
	<div class="container margin-bottom-50">
		<div class="row">

			<div class="col-md-12">
				<h3 class="headline margin-bottom-25 margin-top-65">Featured</h3>
			</div>

			<!-- Carousel -->
			<div class="col-md-12">
				<div class="carousel">

					<!-- Listing Item -->
					<div class="carousel-item" *ngFor="let property of featuredProperties">
						<div class="listing-item compact">

							<a [routerLink]="['/en/single-property', property.id]" class="listing-img-container">

								<div class="listing-badges">
									<span class="featured">Featured</span>
									<span>{{ property.state }}</span>
								</div>

								<div class="listing-img-content">
									<span class="listing-compact-title">{{ property.name }} <i>{{ property.price }}</i></span>

									<ul class="listing-hidden-content">
										<li>Area <span>{{ property.area }}</span></li>
										<li>Rooms <span>{{ property.rooms }}</span></li>
										<li>Beds <span>{{ property.beds }}</span></li>
										<li>Baths <span>{{ property.baths }}</span></li>
									</ul>
								</div>

								<img src="{{ property.image }}">
							</a>

						</div>
					</div>
					<!-- Listing Item / End -->

				</div>
			</div>
			<!-- Carousel / End -->

		</div>
	</div>
	<!-- Featured / End -->


	<!-- Flip banner -->
	<a [routerLink]="['/en/listings/default']" class="flip-banner parallax" data-background="assets/images/flip-banner-bg.jpg" data-color="#274abb" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
		<div class="flip-banner-content">
			<h2 class="flip-visible">We help people and homes find each other</h2>
			<h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
		</div>
	</a>
	<!-- Flip banner / End -->
</div>
<!-- English Section / End -->
