<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
	<!-- Banner
	================================================== -->
	<div class="parallax" data-background="assets/images/home-parallax-2.jpg" data-color="#36383e" data-color-opacity="0.5" data-img-width="2500" data-img-height="1600">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="search-container">

						<!-- Form -->
						<h2>اعثر علي منزل جديد</h2>

						<!-- Row With Forms -->
						<form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
							<div class="row with-forms">

								<!-- Status -->
								<div class="col-md-3">
									<select data-placeholder="Any Status" class="chosen-select-no-single api-updated-servicetype" formControlName="serviceType">
										<option *ngFor="let service of servicetypeList" [value]="service.key">{{ service.value }}</option>
									</select>
								</div>

								<!-- Property Type -->
								<div class="col-md-3">
									<select data-placeholder="Any Type" class="chosen-select-no-single api-updated-propertytype" formControlName="propertyType">
										<option *ngFor="let property of propertytypeList" [value]="property.key">{{ property.value }}</option>
									</select>
								</div>

								<!-- Main Search Input -->
								<div class="col-md-6">
									<div class="main-search-input">
										<select class="chosen-select api-updated-cities">
											<option *ngFor="let city of cityList">{{ city.name }}</option>
										</select>
										<button class="button" type="submit" [disabled]="!searchForm.valid"><i class="fa fa-search"></i></button>
									</div>
								</div>

							</div>
						</form>
						<!-- Row With Forms / End -->

						<!-- Announce -->
						<div class="announce">
							لدينا لكثر من 1000 عقار لك
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>


	<!-- Content
	================================================== -->
	<!-- Fullwidth Section -->
	<section class="fullwidth border-bottom margin-top-0 margin-bottom-0 padding-top-50 padding-bottom-50" data-background-color="#ffffff">

		<!-- Content -->
		<div class="container">
			<div class="row">

				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="icon-box-1 alternative">

						<div class="icon-container">
							<i class="im im-icon-Checked-User"></i>
						</div>

						<h3>اعثر علي السمسار</h3>
						<p>اعثر علي الذي يتخصص في منطقتك ,لدية اكثر المراجعات و لدية الخبرة الصحيحةاللتي تلبي احتياجاتك </p>
					</div>
				</div>

				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="icon-box-1 alternative">

						<div class="icon-container">
							<i class="im im-icon-Cloud-Computer"></i>
						</div>

						<h3>تكنولوجيا حديثة</h3>
						<p>اكثر من 10,000 عميل يشتري او يبيع منزل معنا كل سنة. نحن نساعد الناس و المنازل علي ان يجدو بعضهم</p>
					</div>
				</div>

				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="icon-box-1 alternative">

						<div class="icon-container">
							<i class="im im-icon-Idea"></i>
						</div>

						<h3>افكار لتصميم المنازل</h3>
						<p>اختصاصيونا يستطيعون مساعدتك علي بدا مشروع منزلك. اختيار الوان الطلاء, افضل المفارش و اكثر </p>
					</div>
				</div>

			</div>
		</div>

	</section>
	<!-- Fullwidth Section / End -->



	<!-- Parallax -->
	<div class="parallax"
		data-background="assets/images/listings-parallax.jpg"
		data-color="#36383e"
		data-color-opacity="0.7"
		data-img-width="800"
		data-img-height="505">

		<!-- Infobox -->
		<div class="text-content white-font">
			<div class="container">

				<div class="row">
					<div class="col-lg-6 col-sm-8">
						<h2>انها رحلتك. نحن هنا لمساعدتك</h2>
						<p>نحن خدمة متكاملة, سماسرة محليين يعرفون كيفية ملائمة الناس مع المنازل. نحن نستعمل الادوات بطرق بحث لا تضاهي وذلك لجعلك اكثر ذكاء و اكثر سرعة</p>
						<a [routerLink]="['/ar/listings/default']" class="button margin-top-25">ابدا الان</a>
					</div>
				</div>

			</div>
		</div>

		<!-- Infobox / End -->

	</div>
	<!-- Parallax / End -->


	<!-- Flip banner -->
	<a [routerLink]="['/ar/listings/default']" class="flip-banner parallax" data-background="assets/images/flip-banner-bg.jpg" data-color="#274abb" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
		<div class="flip-banner-content">
			<h2 class="flip-visible">نحن نساعد الناس و المنازل علي إيجاد بعضهم</h2>
			<h2 class="flip-hidden">تفقد عقارات <i class="sl sl-icon-arrow-left"></i></h2>
		</div>
	</a>
	<!-- Flip banner / End -->
</div>
<!-- Arabic Section / End -->



<!-- English Section -->
<div *ngIf=" language != 'ar' ">
	<!-- Banner
	================================================== -->
	<div class="parallax" data-background="assets/images/home-parallax-2.jpg" data-color="#36383e" data-color-opacity="0.5" data-img-width="2500" data-img-height="1600">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="search-container">

						<!-- Form -->
						<h2>Find New Home</h2>

						<!-- Row With Forms -->
						<form [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)">
							<div class="row with-forms">

								<!-- Status -->
								<div class="col-md-3">
									<select data-placeholder="Any Status" class="chosen-select-no-single api-updated-servicetype" formControlName="serviceType">
										<option *ngFor="let service of servicetypeList" [value]="service.key">{{ service.value }}</option>
									</select>
								</div>

								<!-- Property Type -->
								<div class="col-md-3">
									<select data-placeholder="Any Type" class="chosen-select-no-single api-updated-propertytype" formControlName="propertyType">
										<option *ngFor="let property of propertytypeList" [value]="property.key">{{ property.value }}</option>
									</select>
								</div>

								<!-- Main Search Input -->
								<div class="col-md-6">
									<div class="main-search-input">
										<select class="chosen-select api-updated-cities">
											<option *ngFor="let city of cityList">{{ city.name }}</option>
										</select>
										<button class="button" type="submit" [disabled]="!searchForm.valid"><i class="fa fa-search"></i></button>
									</div>
								</div>

							</div>
						</form>
						<!-- Row With Forms / End -->

						<!-- Announce -->
						<div class="announce">
							We’ve 1000 properties for you!
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>


	<!-- Content
	================================================== -->
	<!-- Fullwidth Section -->
	<section class="fullwidth border-bottom margin-top-0 margin-bottom-0 padding-top-50 padding-bottom-50" data-background-color="#ffffff">

		<!-- Content -->
		<div class="container">
			<div class="row">

				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="icon-box-1 alternative">

						<div class="icon-container">
							<i class="im im-icon-Checked-User"></i>
						</div>

						<h3>Agent Finder</h3>
						<p>See who specializes in your area, has the most reviews and the right experience to meet your needs.</p>
					</div>
				</div>

				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="icon-box-1 alternative">

						<div class="icon-container">
							<i class="im im-icon-Cloud-Computer"></i>
						</div>

						<h3>Modern Technology</h3>
						<p>More than 10,000 customers buy or sell a home with us each year. We help people and homes find each together.</p>
					</div>
				</div>

				<div class="col-md-4">
					<!-- Icon Box -->
					<div class="icon-box-1 alternative">

						<div class="icon-container">
							<i class="im im-icon-Idea"></i>
						</div>

						<h3>Home Designs Ideas</h3>
						<p>Our specialists can help you get started on that home project. Find paint colors, that perfect tile and more. </p>
					</div>
				</div>

			</div>
		</div>

	</section>
	<!-- Fullwidth Section / End -->



	<!-- Parallax -->
	<div class="parallax"
		data-background="assets/images/listings-parallax.jpg"
		data-color="#36383e"
		data-color-opacity="0.7"
		data-img-width="800"
		data-img-height="505">

		<!-- Infobox -->
		<div class="text-content white-font">
			<div class="container">

				<div class="row">
					<div class="col-lg-6 col-sm-8">
						<h2>It's your journey. We're here to help.</h2>
						<p>We’re full-service, local agents who know how to find people and home each together. We use online tools with an unmatched search capability to make you smarter and faster.</p>
						<a [routerLink]="['/en/listings/default']" class="button margin-top-25">Get Started</a>
					</div>
				</div>

			</div>
		</div>

		<!-- Infobox / End -->

	</div>
	<!-- Parallax / End -->


	<!-- Flip banner -->
	<a [routerLink]="['/en/listings/default']" class="flip-banner parallax" data-background="assets/images/flip-banner-bg.jpg" data-color="#274abb" data-color-opacity="0.9" data-img-width="2500" data-img-height="1600">
		<div class="flip-banner-content">
			<h2 class="flip-visible">We help people and homes find each other</h2>
			<h2 class="flip-hidden">Browse Properties <i class="sl sl-icon-arrow-right"></i></h2>
		</div>
	</a>
	<!-- Flip banner / End -->
</div>
<!-- English Section / End -->
