<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>My Searches</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/en/main']">Home</a></li>
              <li>My Searches</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">


      <!-- Widget -->
      <div class="col-md-4">
        <div class="sidebar left">

          <div class="my-account-nav-container">

            <ul class="my-account-nav">
              <li class="sub-nav-title">Manage Account</li>
              <li><a [routerLink]="['/en/profile']" routerLinkActive="current"><i class="sl sl-icon-user"></i> My Profile</a></li>
              <li><a [routerLink]="['/en/agent']" routerLinkActive="current">
                <span *ngIf="!profileInfo.isAgent"><i class="sl sl-icon-user"></i> Add Agent</span>
                <span *ngIf="profileInfo.isAgent"><i class="sl sl-icon-user"></i> Agent Profile</span>
              </a></li>
              <li><a [routerLink]="['/en/bookmarks']" routerLinkActive="current"><i class="sl sl-icon-star"></i> Bookmarked Listings</a></li>
              <li><a [routerLink]="['/en/mySearches']" routerLinkActive="current"><i class="sl sl-icon-star"></i> My Searches</a></li>
            </ul>

            <ul class="my-account-nav">
              <li class="sub-nav-title">Manage Listings</li>
              <li><a [routerLink]="['/en/properties']" routerLinkActive="current"><i class="sl sl-icon-docs"></i> My Properties</a></li>
              <li><a [routerLink]="['/en/submit-property']" routerLinkActive="current"><i class="sl sl-icon-action-redo"></i> Submit New Property</a></li>
            </ul>

            <ul class="my-account-nav">
              <li><a [routerLink]="['/en/change-password']" routerLinkActive="current"><i class="sl sl-icon-lock"></i> Change Password</a></li>
            </ul>

          </div>

        </div>
      </div>

      <div class="col-md-8">
        <div class="search-block" *ngFor="let item of mySearches">
          <div class="link"> <a class="search-name" (click)="goSearch(item.query)">{{ item.name }}</a> </div>

          <div class="search-fotter">
            <i class="sl sl-icon-trash" (click)="deleteSearch(item.id)"></i>
            <i class="fa fa-bell" *ngIf="item.notifications == true" (click)="notifySearch(item.notificationsId, true)"></i>
            <i class="fa fa-bell-slash" *ngIf="item.notifications == false" (click)="notifySearch(item.id, false)"></i>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="margin-top-55"></div>
</div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>البحث</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/ar/main']">الرئيسية</a></li>
              <li>البحث</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">


      <!-- Widget -->
      <div class="col-md-4">
        <div class="sidebar left">

          <div class="my-account-nav-container">

            <ul class="my-account-nav">
              <li class="sub-nav-title">ادر الحساب</li>
              <li><a [routerLink]="['/ar/profile']" routerLinkActive="current"><i class="sl sl-icon-user"></i> صفحتي الشخصية</a></li>
              <li><a [routerLink]="['/ar/agent']" routerLinkActive="current">
                <span *ngIf="!profileInfo.isAgent"><i class="sl sl-icon-user"></i> اضف مكتبك العقاري</span>
                <span *ngIf="profileInfo.isAgent"><i class="sl sl-icon-user"></i> مكتبك العقاري</span>
              </a></li>
              <li><a [routerLink]="['/ar/bookmarks']" routerLinkActive="current"><i class="sl sl-icon-star"></i> العقارات المرجعية</a></li>
              <li><a [routerLink]="['/ar/mySearches']" routerLinkActive="current"><i class="sl sl-icon-star"></i> البحث </a></li>
            </ul>

            <ul class="my-account-nav">
              <li class="sub-nav-title">ادر العقارات</li>
              <li><a [routerLink]="['/ar/properties']" routerLinkActive="current"><i class="sl sl-icon-docs"></i> عقاراتي</a></li>
              <li><a [routerLink]="['/ar/submit-property']" routerLinkActive="current"><i class="sl sl-icon-action-redo"></i> اضف عقار جديد</a></li>
            </ul>

            <ul class="my-account-nav">
              <li><a [routerLink]="['/ar/change-password']" routerLinkActive="current"><i class="sl sl-icon-lock"></i> تغيير كلمة السر</a></li>
            </ul>

          </div>

        </div>
      </div>

      <div class="col-md-8">
        <div class="search-block" *ngFor="let item of mySearches">
          <div class="link"> <a class="search-name" (click)="goSearch(item.query)">{{ item.name }}</a> </div>

          <div class="search-fotter">
            <i class="sl sl-icon-trash" (click)="deleteSearch(item.id)"></i>
            <i class="fa fa-bell" *ngIf="item.notifications == true" (click)="notifySearch(item.notificationsId, true)"></i>
            <i class="fa fa-bell-slash" *ngIf="item.notifications == false" (click)="notifySearch(item.id, false)"></i>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="margin-top-55"></div>
</div>
<!-- Arabic Section / End -->

<div class="overlay" *ngIf="isConnecting"></div>