<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Content
  ================================================== -->
  <div class="fs-container">

    <div class="fs-inner-container">

      <!-- Map -->
      <div id="map-container">
          <div id="map" data-map-zoom="6" data-map-scroll="true">
              <!-- map goes here -->
          </div>

          <!-- Map Navigation -->
        <a href="#" id="geoLocation" title="Your location"></a>
        <ul id="mapnav-buttons" class="top">
            <li><a href="#" id="prevpoint" title="Previous point on map">Prev</a></li>
            <li><a href="#" id="nextpoint" title="Next point on mp">Next</a></li>
        </ul>
      </div>

    </div>


    <div class="fs-inner-container">
      <div class="fs-content">

        <!-- Search -->
        <section class="search margin-bottom-30">

          <div class="row">
            <div class="col-md-12">

              <!-- Title -->
              <h4 class="search-title">اعثر علي منزلك</h4>

              <!-- Form -->
              <form [formGroup]="searchForm">
                <div class="main-search-box no-shadow">


                  <!-- Row With Forms -->
                  <div class="row with-forms">

                    <!-- Status -->
                    <div class="col-fs-3">
                      <select class="chosen-select-no-single api-updated-servicetype">
                        <option label="blank"></option>
                        <option *ngFor="let service of servicetypeList" [value]="service.key">{{ service.value }}</option>
                      </select>
                    </div>

                    <!-- Property Type -->
                    <div class="col-fs-3">
                      <select class="chosen-select-no-single api-updated-propertytype" [disabled]="!isProperty">
                        <option label="blank"></option>
                        <option *ngFor="let property of propertytypeList" [value]="property.key">{{ property.value }}</option>
                      </select>
                    </div>

                  </div>
                  <!-- Row With Forms / End -->


                  <!-- Row With Forms -->
                  <div class="row with-forms">


                    <!-- Min Price -->
                    <div class="col-fs-3">

                      <!-- Select Input -->
                      <div class="select-input disabled-first-option">
                        <input type="text" placeholder="اقل سعر" formControlName="1">
                        <select>
                          <option>اقل سعر</option>
                          <option>1,000</option>
                          <option>2,000</option>
                          <option>3,000</option>
                          <option>4,000</option>
                          <option>5,000</option>
                          <option>10,000</option>
                          <option>15,000</option>
                          <option>20,000</option>
                          <option>30,000</option>
                          <option>40,000</option>
                          <option>50,000</option>
                          <option>60,000</option>
                          <option>70,000</option>
                          <option>80,000</option>
                          <option>90,000</option>
                          <option>100,000</option>
                          <option>110,000</option>
                          <option>120,000</option>
                          <option>130,000</option>
                          <option>140,000</option>
                          <option>150,000</option>
                        </select>
                      </div>
                      <!-- Select Input / End -->

                    </div>


                    <!-- Max Price -->
                    <div class="col-fs-3">

                      <!-- Select Input -->
                      <div class="select-input disabled-first-option">
                        <input type="text" placeholder="اكبر سعر" formControlName="2">
                        <select>
                          <option>اكبر سعر</option>
                          <option>1,000</option>
                          <option>2,000</option>
                          <option>3,000</option>
                          <option>4,000</option>
                          <option>5,000</option>
                          <option>10,000</option>
                          <option>15,000</option>
                          <option>20,000</option>
                          <option>30,000</option>
                          <option>40,000</option>
                          <option>50,000</option>
                          <option>60,000</option>
                          <option>70,000</option>
                          <option>80,000</option>
                          <option>90,000</option>
                          <option>100,000</option>
                          <option>110,000</option>
                          <option>120,000</option>
                          <option>130,000</option>
                          <option>140,000</option>
                          <option>150,000</option>
                        </select>
                      </div>
                      <!-- Select Input / End -->

                    </div>

                  </div>
                  <!-- Row With Forms / End -->


                  <!-- Search Button -->
                  <button class="button fs-map-btn" [disabled]="!searchForm.valid || isConnecting" (click)="search(searchForm.value)">حدث</button>

                  <!-- More Search Options -->
                  <a href="#" class="more-search-options-trigger margin-top-20" data-open-title="اختيارات اكثر" data-close-title="اختيارات اقل" [hidden]="isLand"></a>

                  <div class="more-search-options relative" [hidden]="isLand">
                    <div class="more-search-options-container margin-top-30">

                      <!-- Row With Forms -->
                      <div class="row with-forms">

                        <!-- Min Area -->
                        <div class="col-fs-3">
                          <select data-placeholder="السرائر" class="chosen-select-no-single chosen-bedrooms" >
                            <option label="blank"></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>

                        <!-- Max Area -->
                        <div class="col-fs-3">
                          <select data-placeholder="الحمامات" class="chosen-select-no-single chosen-bathrooms" >
                            <option label="blank"></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>

                      </div>
                      <!-- Row With Forms / End -->

                    </div>

                  </div>
                  <!-- More Search Options / End -->


                </div>
              </form>
              <!-- Box / End -->
            </div>
          </div>

        </section>
        <!-- Search / End -->



        <!-- Sorting / Layout Switcher -->
        <div class="row fs-switcher">

          <div class="col-md-6">
            <!-- Showing Results -->
            <p class="showing-results">{{ resultsNum }} نتيجة بحث </p>
          </div>

          <div class="col-md-6">
            <!-- Layout Switcher -->
            <div class="layout-switcher">
              <a href="#" class="list"><i class="fa fa-th-list"></i></a>
              <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
            </div>
          </div>
        </div>



        <!-- Listings -->
        <div class="listings-container list-layout row fs-listings">

          <!-- Listing Item -->
          <div class="listing-item" *ngFor="let listing of listingResults | slice:startSlice:endSlice">

            <a class="listing-img-container">

              <div class="listing-badges">
                <span class="featured" *ngIf="listing.featured">مميز</span>
                <span>{{ listing.state | translate }}</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">{{ listing.price }} <i>{{ listing.priceDetail }}</i></span>
                <span class="like-icon with-tip" data-tip-content="اضف للمفضلة"></span>
                <span class="compare-button with-tip" data-tip-content="اضف للمقارنة" (click)="addProperty(listing)"></span>
              </div>

              <img src="{{ listing.image }}" alt="">
            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a [routerLink]="['/ar/single-property', listing.id]">{{ listing.title }}</a></h4>
                <a href="{{ listing.popupAdress }}" class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  {{ listing.adress }}
                </a>

                <a [routerLink]="['/ar/single-property', listing.id]" class="details button border">تفاصيل</a>
              </div>

              <ul class="listing-details">
                <li>{{ listing.area }}</li>
                <li></li>
                <li>{{ listing.beds }} السرائر</li>
                <li>{{ listing.bathrooms }} الحمامات</li>
              </ul>

            </div>

          </div>
          <!-- Listing Item / End -->

        </div>
        <!-- Listings Container / End -->


        <!-- Pagination Container -->
        <div class="row fs-listings">
          <div class="col-md-12">

            <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="pagination-container margin-top-10 margin-bottom-45">
              <nav class="pagination">
                <ul>
                  <li><a class="current-page">{{ currentPage }} <span *ngIf="numOfPages > 0">/ {{ Math.ceil(numOfPages) }}</span></a></li>
                </ul>
              </nav>

              <nav class="pagination-next-prev">
                <ul>
                  <li><a (click)="prevPage()" class="prev">السابق</a></li>
                  <li><a (click)="nextPage()" class="next">التالي</a></li>
                </ul>
              </nav>
            </div>

          </div>
        </div>
        <!-- Pagination Container / End -->


      </div>
    </div>

  </div>
</div>
<!-- Arabic Section / End -->

<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <div class="fs-container">

    <div class="fs-inner-container">

      <!-- Map -->
      <div id="map-container">
          <div id="map" data-map-zoom="6" data-map-scroll="true">
              <!-- map goes here -->
          </div>

          <!-- Map Navigation -->
        <a href="#" id="geoLocation" title="Your location"></a>
        <ul id="mapnav-buttons" class="top">
            <li><a href="#" id="prevpoint" title="Previous point on map">Prev</a></li>
            <li><a href="#" id="nextpoint" title="Next point on mp">Next</a></li>
        </ul>
      </div>

    </div>


    <div class="fs-inner-container">
      <div class="fs-content">

        <!-- Search -->
        <section class="search margin-bottom-30">

          <div class="row">
            <div class="col-md-12">

              <!-- Title -->
              <h4 class="search-title">Find Your Home</h4>

              <!-- Form -->
              <form [formGroup]="searchForm">
                <div class="main-search-box no-shadow">


                  <!-- Row With Forms -->
                  <div class="row with-forms">

                    <!-- Status -->
                    <div class="col-fs-3">
                      <select class="chosen-select-no-single api-updated-servicetype">
                        <option label="blank"></option>
                        <option *ngFor="let service of servicetypeList" [value]="service.key">{{ service.value }}</option>
                      </select>
                    </div>

                    <!-- Property Type -->
                    <div class="col-fs-3">
                      <select class="chosen-select-no-single api-updated-propertytype" [disabled]="!isProperty">
                        <option label="blank"></option>
                        <option *ngFor="let property of propertytypeList" [value]="property.key">{{ property.value }}</option>
                      </select>
                    </div>

                  </div>
                  <!-- Row With Forms / End -->


                  <!-- Row With Forms -->
                  <div class="row with-forms">


                    <!-- Min Price -->
                    <div class="col-fs-3">

                      <!-- Select Input -->
                      <div class="select-input disabled-first-option">
                        <input type="text" placeholder="Min Price" formControlName="1">
                        <select>
                          <option>Min Price</option>
                          <option>1000</option>
                          <option>2000</option>
                          <option>3000</option>
                          <option>4000</option>
                          <option>5000</option>
                          <option>10000</option>
                          <option>15000</option>
                          <option>20000</option>
                          <option>30000</option>
                          <option>40000</option>
                          <option>50000</option>
                          <option>60000</option>
                          <option>70000</option>
                          <option>80000</option>
                          <option>90000</option>
                          <option>100000</option>
                          <option>110000</option>
                          <option>120000</option>
                          <option>130000</option>
                          <option>140000</option>
                          <option>150000</option>
                        </select>
                      </div>
                      <!-- Select Input / End -->

                    </div>


                    <!-- Max Price -->
                    <div class="col-fs-3">

                      <!-- Select Input -->
                      <div class="select-input disabled-first-option">
                        <input type="text" placeholder="Max Price" formControlName="2">
                        <select>
                          <option>Max Price</option>
                          <option>1000</option>
                          <option>2000</option>
                          <option>3000</option>
                          <option>4000</option>
                          <option>5000</option>
                          <option>10000</option>
                          <option>15000</option>
                          <option>20000</option>
                          <option>30000</option>
                          <option>40000</option>
                          <option>50000</option>
                          <option>60000</option>
                          <option>70000</option>
                          <option>80000</option>
                          <option>90000</option>
                          <option>100000</option>
                          <option>110000</option>
                          <option>120000</option>
                          <option>130000</option>
                          <option>140000</option>
                          <option>150000</option>
                        </select>
                      </div>
                      <!-- Select Input / End -->

                    </div>

                  </div>
                  <!-- Row With Forms / End -->


                  <!-- Search Button -->
                  <button class="button fs-map-btn" [disabled]="!searchForm.valid || isConnecting" (click)="search(searchForm.value)">Update</button>

                  <!-- More Search Options -->
                  <a href="#" class="more-search-options-trigger margin-top-20" data-open-title="More Options" data-close-title="Less Options" [hidden]="isLand"></a>

                  <div class="more-search-options relative" [hidden]="isLand">
                    <div class="more-search-options-container margin-top-30">

                      <!-- Row With Forms -->
                      <div class="row with-forms">

                        <!-- Min Area -->
                        <div class="col-fs-3">
                          <select data-placeholder="Beds" class="chosen-select-no-single chosen-bedrooms" >
                            <option label="blank"></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>

                        <!-- Max Area -->
                        <div class="col-fs-3">
                          <select data-placeholder="Baths" class="chosen-select-no-single chosen-bathrooms" >
                            <option label="blank"></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>

                      </div>
                      <!-- Row With Forms / End -->

                    </div>

                  </div>
                  <!-- More Search Options / End -->


                </div>
              </form>
              <!-- Box / End -->
            </div>
          </div>

        </section>
        <!-- Search / End -->



        <!-- Sorting / Layout Switcher -->
        <div class="row fs-switcher">

          <div class="col-md-6">
            <!-- Showing Results -->
            <p class="showing-results">{{ resultsNum }} Results Found </p>
          </div>

          <div class="col-md-6">
            <!-- Layout Switcher -->
            <div class="layout-switcher">
              <a href="#" class="list"><i class="fa fa-th-list"></i></a>
              <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
            </div>
          </div>
        </div>



        <!-- Listings -->
        <div class="listings-container list-layout row fs-listings">

          <!-- Listing Item -->
          <div class="listing-item" *ngFor="let listing of listingResults | slice:startSlice:endSlice">

            <a class="listing-img-container">

              <div class="listing-badges">
                <span class="featured" *ngIf="listing.featured">Featured</span>
                <span>{{ listing.state }}</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">{{ listing.price }} <i>{{ listing.priceDetail }}</i></span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks" (click)="bookmark(listing)"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare" (click)="addProperty(listing)"></span>
              </div>

              <img src="{{ listing.image }}" alt="">
            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a [routerLink]="['/en/single-property', listing.id]">{{ listing.title }}</a></h4>
                <a class="listing-address">
                  <i class="fa fa-map-marker"></i>
                  {{ listing.adress }}
                </a>

                <a [routerLink]="['/en/single-property', listing.id]" class="details button border">Details</a>
              </div>

              <ul class="listing-details">
                <li>{{ listing.area }}</li>
                <li></li>
                <li>{{ listing.beds }} Bedroom</li>
                <li>{{ listing.bathrooms }} Bathroom</li>
              </ul>

            </div>

          </div>
          <!-- Listing Item / End -->

        </div>
        <!-- Listings Container / End -->


        <!-- Pagination Container -->
        <div class="row fs-listings">
          <div class="col-md-12">

            <!-- Pagination -->
            <div class="clearfix"></div>
            <div class="pagination-container margin-top-10 margin-bottom-45">
              <nav class="pagination">
                <ul>
                  <li><a class="current-page">{{ currentPage }} <span *ngIf="numOfPages > 0">/ {{ Math.ceil(numOfPages) }}</span></a></li>
                </ul>
              </nav>

              <nav class="pagination-next-prev">
                <ul>
                  <li><a (click)="prevPage()" class="prev">Previous</a></li>
                  <li><a (click)="nextPage()" class="next">Next</a></li>
                </ul>
              </nav>
            </div>

          </div>
        </div>
        <!-- Pagination Container / End -->


      </div>
    </div>

  </div>
</div>
<!-- English Section / End -->