<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>{{ agent.name }}</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/en/main']">Home</a></li>
              <li>Listings</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="agent agent-page">

          <div class="agent-avatar">
            <img src="{{ agent.image }}">
          </div>

          <div class="agent-content">
            <div class="agent-name">
              <h4>{{ agent.name }}</h4>
              <span>{{ agent.title }}</span>
            </div>

            <p>{{ agent.about }}</p>

            <ul class="agent-contact-details">
              <li><i class="im im-icon-Address-Book"></i>{{ agent.adress }}</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row sticky-wrapper">

      <div class="col-lg-8 col-md-8">

        <h4 class="headline">My Listings</h4>

        <!-- Sorting / Layout Switcher -->
        <div class="row margin-bottom-15">

          <div class="col-md-6">
          </div>

          <div class="col-md-6">
            <!-- Layout Switcher -->
            <div class="layout-switcher">
              <a href="#" class="list"><i class="fa fa-th-list"></i></a>
              <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
            </div>
          </div>
        </div>


        <!-- Listings -->
        <div class="listings-container list-layout">

          <!-- Listing Item -->
          <div class="listing-item" *ngFor="let listing of agent.listings | slice:startSlice:endSlice">

            <a class="listing-img-container">

              <div class="listing-badges">
                <span class="featured" *ngIf="listing.featured">Featured</span>
                <span>{{ listing.state }}</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">{{ listing.price }} <i>{{ listing.priceDetail }}</i></span>
                <span class="like-icon tooltip"></span>
              </div>

              <img src="{{ listing.image }}" alt=""/>
            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a [routerLink]="['/en/single-property', listing.id]">{{ listing.name }}</a></h4>
                <a class="listing-address">
                  <i class="fa fa-map-marker"></i>
                  {{ listing.adress }}
                </a>

                <a [routerLink]="['/en/single-property', listing.id]" class="details button border">Details</a>
              </div>

              <ul class="listing-details">
                <li>{{ listing.area }} sq ft</li>
                <li>{{ listing.bedrooms }} Bedrooms</li>
                <li>{{ listing.bathrooms }} Bathrooms</li>
              </ul>

              <div class="listing-footer">
                <a><i class="fa fa-user"></i> {{ agent.name }}</a>
              </div>

            </div>

          </div>
          <!-- Listing Item / End -->

        </div>
        <!-- Listings Container / End -->


        <!-- Pagination -->
        <div class="pagination-container margin-top-20">
          <nav class="pagination">
            <ul>
              <li><a class="current-page">{{ currentPage }} <span *ngIf="numOfPages > 0">/ {{ Math.ceil(numOfPages) }}</span></a></li>
            </ul>
          </nav>

          <nav class="pagination-next-prev">
            <ul>
              <li><a (click)="prevPage()" class="prev">Previous</a></li>
              <li><a (click)="nextPage()" class="next">Next</a></li>
            </ul>
          </nav>
        </div>
        <!-- Pagination / End -->

      </div>


      <!-- Sidebar -->
      <div class="col-lg-4 col-md-4">
        <div class="sidebar sticky right">


          <!-- Widget -->
          <div class="widget">

            <!-- Agent Widget -->
            <div class="agent-widget">
              <div class="agent-title">
                <div class="agent-details" style="margin:0">
                  <h4><a>Call Agent</a></h4>
                </div>
                <div class="clearfix"></div>
              </div>

              <form [formGroup]="emailForm" (ngSubmit)="sendEmail(emailForm.value)">
                <input type="text" placeholder="Your Email" formControlName="email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$">
                <input type="text" placeholder="Your Name"  formControlName="name">
                <input type="text" placeholder="Your Phone" formControlName="mobile">
                <select formControlName="messageType" (change)="selectChange($event.target.value)">
                  <option value="null">اختر نوع الاستفسار</option>
                  <option>ابحث عن عقارات للبيع</option>
                  <option>ابحث عن عقارات للإيجار</option>
                  <option>لدي عقار للبيع</option>
                  <option>لدي عقار للإيجار</option>
                  <option>اخري</option>
                </select>
                <textarea formControlName="message"></textarea>
                <button class="button fullwidth margin-top-5" [disabled]="!emailForm.valid">Send Message</button>
              </form>
            </div>
            <!-- Agent Widget / End -->

          </div>
          <!-- Widget / End -->


        </div>
      </div>
      <!-- Sidebar / End -->

    </div>
  </div>

  <div class="margin-top-55"></div>
</div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>{{ agent.name }}</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/ar/main']">الرئيسية</a></li>
              <li>القوائم</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="agent agent-page">

          <div class="agent-avatar">
            <img src="{{ agent.image }}">
          </div>

          <div class="agent-content">
            <div class="agent-name">
              <h4>{{ agent.name }}</h4>
              <span>{{ agent.title }}</span>
            </div>

            <p>{{ agent.about }}</p>

            <ul class="agent-contact-details">
              <li><i class="im im-icon-Address-Book"></i>{{ agent.adress }}</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row sticky-wrapper">

      <div class="col-lg-8 col-md-8">

        <h4 class="headline">عقاراتي</h4>

        <!-- Sorting / Layout Switcher -->
        <div class="row margin-bottom-15">

          <div class="col-md-6">
          </div>

          <div class="col-md-6">
            <!-- Layout Switcher -->
            <div class="layout-switcher">
              <a href="#" class="list"><i class="fa fa-th-list"></i></a>
              <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
            </div>
          </div>
        </div>


        <!-- Listings -->
        <div class="listings-container list-layout">

          <!-- Listing Item -->
          <div class="listing-item" *ngFor="let listing of agent.listings | slice:startSlice:endSlice">

            <a class="listing-img-container">

              <div class="listing-badges">
                <span class="featured" *ngIf="listing.featured">مميز</span>
                <span>{{ listing.state | translate }}</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">{{ listing.price }} <i>{{ listing.priceDetail }}</i></span>
                <span class="like-icon tooltip"></span>
              </div>

              <img src="{{ listing.image }}" alt=""/>
            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a [routerLink]="['/en/single-property', listing.id]">{{ listing.name }}</a></h4>
                <a class="listing-address">
                  <i class="fa fa-map-marker"></i>
                  {{ listing.adress }}
                </a>

                <a [routerLink]="['/en/single-property', listing.id]" class="details button border">تفاصيل</a>
              </div>

              <ul class="listing-details">
                <li>{{ listing.area }}</li>
                <li>{{ listing.bedrooms }} غرف نوم</li>
                <li>{{ listing.bathrooms }} حمام</li>
              </ul>

              <div class="listing-footer">
                <a><i class="fa fa-user"></i> {{ agent.name }}</a>
              </div>

            </div>

          </div>
          <!-- Listing Item / End -->

        </div>
        <!-- Listings Container / End -->


        <!-- Pagination -->
        <div class="pagination-container margin-top-20">
          <nav class="pagination">
            <ul>
              <li><a class="current-page">{{ currentPage }} <span *ngIf="numOfPages > 0">/ {{ Math.ceil(numOfPages) }}</span></a></li>
            </ul>
          </nav>

          <nav class="pagination-next-prev">
            <ul>
              <li><a (click)="prevPage()" class="prev">السابف</a></li>
              <li><a (click)="nextPage()" class="next">التالي</a></li>
            </ul>
          </nav>
        </div>
        <!-- Pagination / End -->

      </div>


      <!-- Sidebar -->
      <div class="col-lg-4 col-md-4">
        <div class="sidebar sticky left">


          <!-- Widget -->
          <div class="widget">

            <!-- Agent Widget -->
            <div class="agent-widget">
              <div class="agent-title">
                <div class="agent-details" style="margin:0">
                  <h4><a>اتصل بالمكتب العقاري</a></h4>
                </div>
                <div class="clearfix"></div>
              </div>

              <form [formGroup]="emailForm" (ngSubmit)="sendEmail(emailForm.value)">
                <input type="text" placeholder="البريد الالكتروني" formControlName="email" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$">
                <input type="text" placeholder="اسمك"  formControlName="name">
                <input type="text" placeholder="رقم الهاتف" formControlName="mobile">
                <select formControlName="messageType" (change)="selectChange($event.target.value)">
                  <option value="null">اختر نوع الاستفسار</option>
                  <option>ابحث عن عقارات للبيع</option>
                  <option>ابحث عن عقارات للإيجار</option>
                  <option>لدي عقار للبيع</option>
                  <option>لدي عقار للإيجار</option>
                  <option>اخري</option>
                </select>
                <textarea formControlName="message"></textarea>
                <button class="button fullwidth margin-top-5" [disabled]="!emailForm.valid">ارسل رسالة</button>
              </form>
            </div>
            <!-- Agent Widget / End -->

          </div>
          <!-- Widget / End -->


        </div>
      </div>
      <!-- Sidebar / End -->

    </div>
  </div>

  <div class="margin-top-55"></div>
</div>
<!-- Arabic Section / End -->

<div class="overlay"></div>
