<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>{{ agent.name }}</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/en/main']">Home</a></li>
              <li>Listings</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="agent agent-page">

          <div class="agent-avatar">
            <img src="{{ agent.image }}">
          </div>

          <div class="agent-content">
            <div class="agent-name">
              <h4>{{ agent.name }}</h4>
              <span>{{ agent.title }}</span>
            </div>

            <p>{{ agent.about }}</p>

            <ul class="agent-contact-details">
              <li><i class="sl sl-icon-call-in"></i>{{ agent.phone }}</li>
              <li><i class="fa fa-envelope-o "></i><a>{{ agent.email }}</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row sticky-wrapper">

      <div class="col-lg-8 col-md-8">

        <h4 class="headline">My Listings</h4>

        <!-- Sorting / Layout Switcher -->
        <div class="row margin-bottom-15">

          <div class="col-md-6">
          </div>

          <div class="col-md-6">
            <!-- Layout Switcher -->
            <div class="layout-switcher">
              <a href="#" class="list"><i class="fa fa-th-list"></i></a>
              <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
            </div>
          </div>
        </div>


        <!-- Listings -->
        <div class="listings-container list-layout">

          <!-- Listing Item -->
          <div class="listing-item" *ngFor="let listing of agent.listings | slice:startSlice:endSlice">

            <a class="listing-img-container">

              <div class="listing-badges">
                <span class="featured" *ngIf="listing.featured">Featured</span>
                <span>{{ listing.state }}</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">{{ listing.price }} <i>{{ listing.priceDetail }}</i></span>
                <span class="like-icon tooltip"></span>
              </div>

              <img src="{{ listing.image }}" alt=""/>
            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a [routerLink]="['/en/single-property', listing.id]">{{ listing.name }}</a></h4>
                <a class="listing-address">
                  <i class="fa fa-map-marker"></i>
                  {{ listing.adress }}
                </a>

                <a [routerLink]="['/en/single-property', listing.id]" class="details button border">Details</a>
              </div>

              <ul class="listing-details">
                <li>{{ listing.area }} sq ft</li>
                <li>{{ listing.bedrooms }} Bedrooms</li>
                <li>{{ listing.bathrooms }} Bathrooms</li>
              </ul>

              <div class="listing-footer">
                <a><i class="fa fa-user"></i> {{ agent.name }}</a>
              </div>

            </div>

          </div>
          <!-- Listing Item / End -->

        </div>
        <!-- Listings Container / End -->


        <!-- Pagination -->
        <div class="pagination-container margin-top-20">
          <nav class="pagination">
            <ul>
              <li><a class="current-page">{{ currentPage }} <span *ngIf="numOfPages > 0">/ {{ Math.ceil(numOfPages) }}</span></a></li>
            </ul>
          </nav>

          <nav class="pagination-next-prev">
            <ul>
              <li><a (click)="prevPage()" class="prev">Previous</a></li>
              <li><a (click)="nextPage()" class="next">Next</a></li>
            </ul>
          </nav>
        </div>
        <!-- Pagination / End -->

      </div>


      <!-- Sidebar -->
      <div class="col-lg-4 col-md-4">
        <div class="sidebar sticky right">

          <!-- Widget -->
          <div class="widget margin-bottom-40">
            <h3 class="margin-top-0 margin-bottom-35">Find New Home</h3>

            <!-- Row -->
            <div class="row with-forms">
              <!-- Status -->
              <div class="col-md-12">
                <select class="chosen-select-no-single api-updated-servicetype">
                  <option label="blank"></option>
                  <option *ngFor="let service of servicetypeList" [value]="service.key">{{ service.value }}</option>
                </select>
              </div>
            </div>
            <!-- Row / End -->


            <!-- Row -->
            <div class="row with-forms">
              <!-- Type -->
              <div class="col-md-12">
                <select class="chosen-select-no-single api-updated-propertytype" [disabled]="!isProperty">
                  <option label="blank"></option>
                  <option *ngFor="let property of propertytypeList" [value]="property.key">{{ property.value }}</option>
                </select>
              </div>
            </div>
            <!-- Row / End -->


            <!-- Row -->
            <div class="row with-forms">

              <!-- Min Area -->
              <div class="col-md-6">
                <select data-placeholder="Beds" class="chosen-select-no-single chosen-bedrooms" >
                  <option label="blank"></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <!-- Max Area -->
              <div class="col-md-6">
                <select data-placeholder="Baths" class="chosen-select-no-single chosen-bathrooms" >
                  <option label="blank"></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

            </div>
            <!-- Row / End -->

            <br>

            <!-- Price Range -->
            <div class="range-slider">
              <label>Price Range</label>
              <div id="price-range" data-min="0" data-max="400000" data-unit=""></div>
              <div class="clearfix"></div>
            </div>

            <form [formGroup]="searchForm">
              <button class="button fullwidth margin-top-30" [disabled]="!searchForm.valid" (click)="search()">Search</button>
            </form>


          </div>
          <!-- Widget / End -->


        </div>
      </div>
      <!-- Sidebar / End -->

    </div>
  </div>

  <div class="margin-top-55"></div>
</div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <h2>{{ agent.name }}</h2>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a [routerLink]="['/ar/main']">الرئيسية</a></li>
              <li>القوائم</li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <div class="agent agent-page">

          <div class="agent-avatar">
            <img src="{{ agent.image }}">
          </div>

          <div class="agent-content">
            <div class="agent-name">
              <h4>{{ agent.name }}</h4>
              <span>{{ agent.title }}</span>
            </div>

            <p>{{ agent.about }}</p>

            <ul class="agent-contact-details">
              <li><i class="sl sl-icon-call-in"></i>{{ agent.phone }}</li>
              <li><i class="fa fa-envelope-o "></i><a>{{ agent.email }}</a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row sticky-wrapper">

      <div class="col-lg-8 col-md-8">

        <h4 class="headline">عقاراتي</h4>

        <!-- Sorting / Layout Switcher -->
        <div class="row margin-bottom-15">

          <div class="col-md-6">
          </div>

          <div class="col-md-6">
            <!-- Layout Switcher -->
            <div class="layout-switcher">
              <a href="#" class="list"><i class="fa fa-th-list"></i></a>
              <a href="#" class="grid"><i class="fa fa-th-large"></i></a>
            </div>
          </div>
        </div>


        <!-- Listings -->
        <div class="listings-container list-layout">

          <!-- Listing Item -->
          <div class="listing-item" *ngFor="let listing of agent.listings | slice:startSlice:endSlice">

            <a class="listing-img-container">

              <div class="listing-badges">
                <span class="featured" *ngIf="listing.featured">مميز</span>
                <span>{{ listing.state | translate }}</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">{{ listing.price }} <i>{{ listing.priceDetail }}</i></span>
                <span class="like-icon tooltip"></span>
              </div>

              <img src="{{ listing.image }}" alt=""/>
            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a [routerLink]="['/en/single-property', listing.id]">{{ listing.name }}</a></h4>
                <a class="listing-address">
                  <i class="fa fa-map-marker"></i>
                  {{ listing.adress }}
                </a>

                <a [routerLink]="['/en/single-property', listing.id]" class="details button border">تفاصيل</a>
              </div>

              <ul class="listing-details">
                <li>{{ listing.area }}</li>
                <li>{{ listing.bedrooms }} غرف نوم</li>
                <li>{{ listing.bathrooms }} حمام</li>
              </ul>

              <div class="listing-footer">
                <a><i class="fa fa-user"></i> {{ agent.name }}</a>
              </div>

            </div>

          </div>
          <!-- Listing Item / End -->

        </div>
        <!-- Listings Container / End -->


        <!-- Pagination -->
        <div class="pagination-container margin-top-20">
          <nav class="pagination">
            <ul>
              <li><a class="current-page">{{ currentPage }} <span *ngIf="numOfPages > 0">/ {{ Math.ceil(numOfPages) }}</span></a></li>
            </ul>
          </nav>

          <nav class="pagination-next-prev">
            <ul>
              <li><a (click)="prevPage()" class="prev">السابف</a></li>
              <li><a (click)="nextPage()" class="next">التالي</a></li>
            </ul>
          </nav>
        </div>
        <!-- Pagination / End -->

      </div>


      <!-- Sidebar -->
      <div class="col-lg-4 col-md-4">
        <div class="sidebar sticky left">

          <!-- Widget -->
          <div class="widget margin-bottom-40">
            <h3 class="margin-top-0 margin-bottom-35">ابحث عن منزل جديد</h3>

            <!-- Row -->
            <div class="row with-forms">
              <!-- Status -->
              <div class="col-md-12">
                <select class="chosen-select-no-single api-updated-servicetype">
                  <option label="blank"></option>
                  <option *ngFor="let service of servicetypeList" [value]="service.key">{{ service.value }}</option>
                </select>
              </div>
            </div>
            <!-- Row / End -->


            <!-- Row -->
            <div class="row with-forms">
              <!-- Type -->
              <div class="col-md-12">
                <select class="chosen-select-no-single api-updated-propertytype" [disabled]="!isProperty">
                  <option label="blank"></option>
                  <option *ngFor="let property of propertytypeList" [value]="property.key">{{ property.value }}</option>
                </select>
              </div>
            </div>
            <!-- Row / End -->


            <!-- Row -->
            <div class="row with-forms">

              <!-- Min Area -->
              <div class="col-md-6">
                <select data-placeholder="Beds" class="chosen-select-no-single chosen-bedrooms" >
                  <option label="blank"></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <!-- Max Area -->
              <div class="col-md-6">
                <select data-placeholder="Baths" class="chosen-select-no-single chosen-bathrooms" >
                  <option label="blank"></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

            </div>
            <!-- Row / End -->

            <br>

            <!-- Price Range -->
            <div class="range-slider">
              <label>مدي السعر</label>
              <div id="price-range" data-min="0" data-max="400000" data-unit=""></div>
              <div class="clearfix"></div>
            </div>

            <form [formGroup]="searchForm">
              <button class="button fullwidth margin-top-30" [disabled]="!searchForm.valid" (click)="search()">ابحث</button>
            </form>


          </div>
          <!-- Widget / End -->


        </div>
      </div>
      <!-- Sidebar / End -->

    </div>
  </div>

  <div class="margin-top-55"></div>
</div>
<!-- Arabic Section / End -->

<div class="overlay"></div>
