<!-- English Section -->
<div *ngIf=" language != 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar" class="submit-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><i class="fa fa-plus-circle"></i> Add Property</h2>
        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
  <div class="row">

    <!-- Submit Page -->
    <form method="POST" class="col-md-12" [formGroup]="submitForm">
      <div class="submit-page">

      <div class="notification notice large margin-bottom-55" *ngIf="!isLogged">
        <h4>Don't Have an Account?</h4>
        <p>If you don't have an account you can create one by registering <a [routerLink]="['/en/login']"><u>here</u></a>.</p>
      </div>

      <!-- Section -->
      <h3>Basic Information</h3>
      <div class="submit-section">

        <!-- Title -->
        <div class="form">
          <h5>Property Title <i class="tip" data-tip-content="Type title that will also contains an unique feature of your property (e.g. renovated, air contidioned)"></i></h5>
          <input class="search-field" type="text" formControlName="title"/>
        </div>

        <!-- Row -->
        <div class="row with-forms">

          <!-- Service Type -->
          <div class="col-md-6">
            <h5>Service Type</h5>
            <select class="chosen-select-no-single api-updated-servicetype">
              <option label="blank"></option>
              <option *ngFor="let service of servicetypeList" [value]="service.key">{{ service.value }}</option>
            </select>
          </div>

          <!-- Type -->
          <div class="col-md-6">
            <h5>Property Type <i class="tip" data-tip-content="Fill Service-type first to fill this area"></i></h5>
            <select class="chosen-select-no-single api-updated-propertytype" [disabled]="!isProperty">
              <option label="blank"></option>
              <option *ngFor="let property of propertytypeList" [value]="property.key">{{ property.value }}</option>
            </select>
          </div>

        </div>
        <!-- Row / End -->


        <!-- Row -->
        <div class="row with-forms">

          <!-- Price -->
          <div class="col-md-6">
            <h5>Price <i class="tip" data-tip-content="Fill Property-type and Service-type first to fill this area"></i></h5>
            <input type="text" class="search-field" formControlName="price">
          </div>

          <!-- Currency -->
          <div class="col-md-3">
            <h5>Currency</h5>
            <select class="chosen-select-no-single api-updated-currency" [disabled]="!isTypes">
              <option label="blank"></option>
              <option *ngFor="let currency of currencyList" [value]="currency.key">{{ currency.value }}</option>
            </select>
          </div>

          <!-- Price Type -->
          <div class="col-md-3">
            <h5>Price Type</h5>
            <select class="chosen-select-no-single api-updated-priceType" [disabled]="!isTypes">
              <option label="blank"></option>
              <option *ngFor="let price of pricetypeList" [value]="price.key">{{ price.value }}</option>
            </select>
          </div>

        </div>
        <!-- Row / End -->


        <!-- Row -->
        <div class="row with-forms">

          <!-- Area -->
          <div class="col-md-6">
            <h5>Area <i class="tip" data-tip-content="Fill Property-type and Service-type first to fill this area"></i></h5>
            <input type="text" class="search-field" formControlName="landSize">
          </div>

          <!-- Measure Type -->
          <div class="col-md-3">
            <h5>Measure Type</h5>
            <select class="chosen-select-no-single api-updated-measuretype" [disabled]="!isTypes">
              <option label="blank"></option>
              <option *ngFor="let measure of measuretypeList" [value]="measure.key">{{ measure.value }}</option>
            </select>
          </div>

        </div>
        <!-- Row / End -->

      </div>
      <!-- Section / End -->


      <!-- Section -->
      <h3>Gallery</h3>
      <div class="submit-section">
        <form class="dropzone" ></form>
      </div>
      <!-- Section / End -->


      <!-- Section -->
      <h3>Location</h3>
      <div class="submit-section" formGroupName="locationAd">

        <!-- Row -->
        <div class="row with-forms">

          <!-- City -->
          <div class="col-md-6">
            <h5>City</h5>
            <select class="chosen-select api-updated-cities">
              <option *ngFor="let city of cityList">{{ city.name }}</option>
            </select>
          </div>

          <!-- Address -->
          <div class="col-md-6">
            <h5>Area</h5>
            <div class="autocomplete">
              <input #areaInput id="areaInput" type="text" (keyup)="search(areaInput.value)" (blur)="areaBlur()" formControlName="city">
              <ul class="chosen-results" [hidden]="!isAutofill">
                <li *ngFor="let area of areas$ | async" (click)="autofill(area)"> {{ area.arabicName }} </li>
                <li *ngIf="areaInput.value.length > 3"> "not in search" add {{ areaInput.value }} </li>
              </ul>
            </div>
          </div>

          <!-- City -->
          <div class="col-md-6">
            <h5>Street</h5>
            <input type="text" formControlName="street">
          </div>

        </div>
        <!-- Row / End -->

        <!-- Google Maps -->
        <div class="google-map-container">
          <div id="propertyMap" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
        </div>
        <!-- Google Maps / End -->
      </div>
      <!-- Section / End -->


      <!-- Section -->
      <h3>Detailed Information</h3>
      <div class="submit-section">

        <!-- Description -->
        <div class="form">
          <h5>Description</h5>
          <textarea class="WYSIWYG" cols="40" rows="3" id="summary" spellcheck="true" formControlName="description"></textarea>
        </div>

        <!-- Row -->
        <div class="row with-forms" [hidden]="isLand">

          <!-- Age of Home -->
          <div class="col-md-6">
            <h5>Building Age</h5>
            <select class="chosen-select-no-single api-updated-agetype">
              <option label="blank"></option>
              <option *ngFor="let agetype of agetypeList" [value]="agetype.key">{{ agetype.value }}</option>
            </select>
          </div>

          <!-- Quality of Home -->
          <div class="col-md-6">
            <h5>Building Quality</h5>
            <select class="chosen-select-no-single api-updated-qualitytype">
              <option label="blank"></option>
              <option *ngFor="let qualitytype of qualitytypeList" [value]="qualitytype.key">{{ qualitytype.value }}</option>
            </select>
          </div>

        </div>
        <!-- Row / End -->

        <!-- Row -->
        <div class="row with-forms" [hidden]="isLand">

          <!-- Beds -->
          <div class="col-md-6">
            <h5>Bedrooms</h5>
            <select class="chosen-select-no-single chosen-bathrooms">
              <option label="blank"></option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

          <!-- Baths -->
          <div class="col-md-6">
            <h5>Bathrooms</h5>
            <select class="chosen-select-no-single chosen-bedrooms">
              <option label="blank"></option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>

        </div>
        <!-- Row / End -->

      </div>
      <!-- Section / End -->


      <div class="divider"></div>

      <div class="submit-wrapper">
        <i class="im im-icon-Arrow-Around"></i>
        <button type="button" class="button preview margin-top-5" [ngClass]="{loading: isConnecting}" [disabled]="!submitForm.valid || isConnecting" (click)="submit(submitForm.value)">
          Submit
          <i class="fa fa-arrow-circle-right"></i>
        </button>
      </div>

      </div>
    </form>

  </div>
  </div>

  <div class="padding-top-55"></div>
</div>
<!-- English Section / End -->



<!-- Arabic Section -->
<div *ngIf=" language == 'ar' ">
  <!-- Titlebar
  ================================================== -->
  <div id="titlebar" class="submit-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><i class="fa fa-plus-circle"></i> اضف عقار</h2>
        </div>
      </div>
    </div>
  </div>


  <!-- Content
  ================================================== -->
  <div class="container">
  <div class="row">

    <!-- Submit Page -->
    <form method="POST" class="col-md-12" [formGroup]="submitForm">
      <div class="col-md-12">
        <div class="submit-page">

        <div class="notification notice large margin-bottom-55" *ngIf="!isLogged">
          <h4>ليس لديك حساب ؟</h4>
          <p>إذا لم يكن لديك حساب يمكنك انشاء واحد عن طريق ادخال بريدك الالكتروني في منطقة الاتصال. سيتم ارسال كلمة مروو إليك تلقائيا علي بريدك الالكتروني</p>
        </div>

        <!-- Section -->
        <h3>معلومات اساسية</h3>
        <div class="submit-section">

          <!-- Title -->
          <div class="form">
            <h5>عنوان العقار <i class="tip" data-tip-content="قم بكتابة عنوان يحتوي ايضا علي ميزة فريدة للعقار مثل (مكيف بالهواء)"></i></h5>
            <input class="search-field" type="text" formControlName="title"/>
          </div>

          <!-- Row -->
          <div class="row with-forms">

            <!-- Service Type -->
            <div class="col-md-6">
              <h5>نوع الخدمة</h5>
              <select class="chosen-select-no-single api-updated-servicetype">
                <option label="blank"></option>
                <option *ngFor="let service of servicetypeList" [value]="service.key">{{ service.value }}</option>
              </select>
            </div>

            <!-- Type -->
            <div class="col-md-6">
              <h5>النوع <i class="tip" data-tip-content="اكتب نوع الخدمة اولا لتتمكن من كتابة هذة الخانة"></i></h5>
              <select class="chosen-select-no-single api-updated-propertytype" [disabled]="!isProperty">
                <option label="blank"></option>
                <option *ngFor="let property of propertytypeList" [value]="property.key">{{ property.value }}</option>
              </select>
            </div>

          </div>
          <!-- Row / End -->


          <!-- Row -->
          <div class="row with-forms">

            <!-- Price -->
            <div class="col-md-6">
              <h5>السعر <i class="tip" data-tip-content="قم بكتابة النوع اولا لتتمكن من كتابة هذة الخانة"></i></h5>
              <input type="text" class="search-field" formControlName="price">
            </div>

            <!-- Currency -->
            <div class="col-md-3">
              <h5>العملة</h5>
              <select class="chosen-select-no-single api-updated-currency" [disabled]="!isTypes">
                <option label="blank"></option>
                <option *ngFor="let currency of currencyList" [value]="currency.key">{{ currency.value }}</option>
              </select>
            </div>

            <!-- Price Type -->
            <div class="col-md-3">
              <h5>نوع العملة</h5>
              <select class="chosen-select-no-single api-updated-priceType" [disabled]="!isTypes">
                <option label="blank"></option>
                <option *ngFor="let price of pricetypeList" [value]="price.key">{{ price.value }}</option>
              </select>
            </div>

          </div>
          <!-- Row / End -->


          <!-- Row -->
          <div class="row with-forms">

            <!-- Area -->
            <div class="col-md-6">
              <h5>المساحة <i class="tip" data-tip-content="قم بكتابة النوع اولا لتتمكن من كتابة هذة الخانة"></i></h5>
              <input type="text" class="search-field" formControlName="landSize">
            </div>

            <!-- Measure Type -->
            <div class="col-md-3">
              <h5>وحدة القياس</h5>
              <select class="chosen-select-no-single api-updated-measuretype" [disabled]="!isTypes">
                <option label="blank"></option>
                <option *ngFor="let measure of measuretypeList" [value]="measure.key">{{ measure.value }}</option>
              </select>
            </div>

          </div>
          <!-- Row / End -->

        </div>
        <!-- Section / End -->


        <!-- Section -->
        <h3>البوم الصور</h3>
        <div class="submit-section">
          <form class="dropzone" ></form>
        </div>
        <!-- Section / End -->


        <!-- Section -->
        <h3>المكان</h3>
        <div class="submit-section" formGroupName="locationAd">

          <!-- Row -->
          <div class="row with-forms">

            <!-- City -->
            <div class="col-md-6">
              <h5>المدينة</h5>
              <select class="chosen-select api-updated-cities">
                <option *ngFor="let city of cityList">{{ city.name }}</option>
              </select>
            </div>

            <!-- Address -->
            <div class="col-md-6">
              <h5>المنطقة</h5>
              <div class="autocomplete">
                <input #areaInput id="areaInput" type="text" (keyup)="search(areaInput.value)" (blur)="areaBlur()" formControlName="city">
                <ul class="chosen-results" [hidden]="!isAutofill">
                  <li *ngFor="let area of areas$ | async" (click)="autofill(area)"> {{ area.arabicName }} </li>
                  <li *ngIf="areaInput.value.length > 3"> "not in search" add {{ areaInput.value }} </li>
                </ul>
              </div>
            </div>

            <!-- City -->
            <div class="col-md-6">
              <h5>الشارع</h5>
              <input type="text" formControlName="street">
            </div>

          </div>
          <!-- Row / End -->

          <!-- Google Maps -->
          <div class="google-map-container">
            <div id="propertyMap" data-latitude="40.7427837" data-longitude="-73.11445617675781"></div>
          </div>
          <!-- Google Maps / End -->
        </div>
        <!-- Section / End -->


        <!-- Section -->
        <h3>معلومات مفصلة</h3>
        <div class="submit-section">

          <!-- Description -->
          <div class="form">
            <h5>الوصف</h5>
            <textarea class="WYSIWYG" cols="40" rows="3" id="summary" spellcheck="true" formControlName="description"></textarea>
          </div>

          <!-- Row -->
          <div class="row with-forms" [hidden]="isLand">

            <!-- Age of Home -->
            <div class="col-md-6">
              <h5>عمر البناء</h5>
              <select class="chosen-select-no-single api-updated-agetype">
                <option label="blank"></option>
                <option *ngFor="let agetype of agetypeList" [value]="agetype.key">{{ agetype.value }}</option>
              </select>
            </div>

            <!-- Quality of Home -->
            <div class="col-md-6">
              <h5>حالة البناء</h5>
              <select class="chosen-select-no-single api-updated-qualitytype">
                <option label="blank"></option>
                <option *ngFor="let qualitytype of qualitytypeList" [value]="qualitytype.key">{{ qualitytype.value }}</option>
              </select>
            </div>

            <!-- Beds -->
            <div class="col-md-6">
              <h5>عدد السرائر</h5>
              <select class="chosen-select-no-single chosen-bathrooms">
                <option label="blank"></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <!-- Baths -->
            <div class="col-md-6">
              <h5>عدد الحمامات</h5>
              <select class="chosen-select-no-single chosen-bedrooms">
                <option label="blank"></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

          </div>
          <!-- Row / End -->

        </div>
        <!-- Section / End -->

        <div class="divider"></div>

        <div class="submit-wrapper">
          <i class="im im-icon-Arrow-Around"></i>
          <button type="button" class="button preview margin-top-5" [ngClass]="{loading: isConnecting}" [disabled]="!submitForm.valid || isConnecting" (click)="submit(submitForm.value)">
            سجل الاعلان
            <i class="fa fa-arrow-circle-left"></i>
          </button>
        </div>

        </div>
      </div>
    </form>

  </div>
  </div>

  <div class="padding-top-55"></div>
</div>
<!-- Arabic Section / End -->
